.dialog.data_source_new {

    .data_sources {
      min-width: 300px;
      display: inline-block;
    }

    label, input {
      display: inline-block;
    }

    label {
      margin-top: $padding-y;
      margin-bottom: 1px;
    }

    label[for='data_sources'] {
      margin-bottom: 8px;
    }

    div.data_sources_form.collapsed {
        display: none;
        border: none;
        padding: 0 $dialog-padding;
        margin-left: 1px;
        margin-bottom: 0;
    }

    div.data_sources_form {
        $fieldset-width : $default-dialog-width - 2 * $dialog-padding;
        $hostname_width : 375px;
        $account_width : 240px;
        $input-spacing : 12px;
        $size_width : 75px;

        margin-bottom: $dialog-padding;

/*         rule retired with new design */
/*         to be deleted when final */
/*         .description { */
/*           background: transparent url("/images/messaging/icon_info_mediumgrey.png") top left no-repeat; */
/*           min-height: 47px; */
/*           padding: 5px 0 0 54px; */
/*           margin: 8px 0; */
/*           @include dialog-label; */
/*           line-height: 16px; */
/*           border-bottom: 1px solid $border-color; */
/*         } */

        label[name=host], input[name=host],
        label[name=database], input[name=database],
        label[name=jobTrackerHost], input[name=jobTrackerHost] {
            width: $hostname-width;
        }

        label[name=port], input[name=port],
        label[name=jobTrackerPort], input[name=jobTrackerPort] {
            width: $fieldset-width - $hostname_width - $dialog-padding - 2px;
            margin-left: $input-spacing;
        }

        label.db_username, input.db_username,
        label[name=databaseName], input[name=databaseName],
        .username, .group_list, .gnip_username {
            width: $account-width;
        }

        label[name=size], input[name=size] {
            width: $size_width;
            margin-top: 1px;
        }

        label.db_password, input.db_password,
        label[name=schemaName], input[name=schemaName],
        .group_list, .gnip_password {
            width: $fieldset-width - $account_width - $dialog-padding - 2px;
            margin-left: $input-spacing;
        }

        img.help {
            display: inline-block;
            margin-top: -3px;
            vertical-align: middle;
        }

        .instructions {
            @include dialog-label;
            margin-top: 20px;
            display: inline-block;
        }

        .disabled {
            color : $color-text4;
        }

        .max_size {
            @include dialog-label;
        }

        select, .ui-selectmenu-button .ui-button {
            width: 300px;
        }
    }

    .connection_parameters_container {
      padding-top: 5px;
    }
}

.ui-selectmenu-menu #data_sources-menu li a,
.ui-selectmenu-button #data_sources-button .ui-selectmenu-text {
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .select_one {
    width: 0px;
    height: 0px;
  }

  .register_existing_greenplum {
    background: transparent url("/images/data_sources/datasource_greenplum-small.png") center center no-repeat;
  }

  .register_existing_postgres {
    background: transparent url("/images/data_sources/datasource_postgres-small.png") center center no-repeat;
  }

  .register_existing_hawq {
    background: transparent url("/images/data_sources/datasource_hawq-small.png") center center no-repeat;
  }

  .register_existing_oracle {
    background: transparent url("/images/data_sources/datasource_oracle-small.png") center center no-repeat;
  }

  .register_existing_jdbc {
    background: transparent url("/images/data_sources/datasource_jdbc-small.png") center center no-repeat;
  }

  .register_existing_hdfs {
    background: transparent url("/images/data_sources/datasource_hadoop-small.png") center center no-repeat;
  }

  .register_existing_gnip {
    background: transparent url("/images/data_sources/datasource_gnip-small.png") center center no-repeat;
  }
}

.ui-selectmenu-button #data_sources-button .ui-selectmenu-text {
  span {
    margin-top: -5px;
  }
}
