.hdfs_connection_parameters {

  .headerbar {
    height: 30px;

    .right {
      float: right;
      font-weight: $semibold;
    }
  }

  .pairs {
    max-height: 400px;
    overflow-y: scroll;
  }
}
