@import "compass/css3/box-sizing";

$alert-marker-width: 60px;

/* GENERAL ALERT-DIALOG STYLES */
/* AND OTHER ALERT MARKERS IN THE APP */

.alert_dialog {

    width: $default-dialog-width;
    margin-left: auto;
    margin-right: auto;

    .errors {
        display: none;
//         width: 483px;
       //  max-width: 483px;
    }

    .guts {
//      width: 500px;
//      max-width: 500px;

        background-color: $body-background-color;
        // @include border-radius ($default-border-radius);

    .alert_content {
        margin-left: $alert-marker-width;
        
        @include after-clearfix;
    }


    h1 {
        font-size: 21px;
        font-weight: $semibold;
        margin-bottom: 10px;
    }

    p {
        @include font-normal-alpha;
    }
                      
//         .content {
//             .left {
//                 float: left;
//                 max-width: 360px;
//                 word-wrap: break-word;
//                 @include after-clearfix;
// 
//                 h1 {
//                     color: black;
//                     font-size: $medium-font;
//                     font-weight: $semibold;
//                     margin-bottom: 10px;
//                 }
// 
//                 p {
//                     @include font-normal-alpha;
//                 }
//             }
// 
//             .right {
//                 float: right;
//                 width: 90px;
// 
//                 img {
//                     float: right;
// 
//                     &.info {
//                         display: none;
//                     }
//                     &.error {
//                         display: none;
//                     }
//                 }
//              }
//         }

        .body {
            margin-top: 10px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 300px;
            border: 1px solid $border-color;
            font-size: $small-font;
            font-weight: normal;
            // color: black;
        }
    }


    .alert-message,
    .alert-info,
    .alert-confirm,
    .alert-warning,
    .alert-error {
        display: none;
    }

    &.message {
        .alert-message{
            display: inline-block;
        }
    }
    &.info {
        .alert-info {
            display: inline-block;
        }
    }
    &.confirm {
        .alert-confirm {
            display: inline-block;
        }
    }
    &.warning {
        .alert-warning {
            display: inline-block;
        }
    }
    &.error {
        .alert-error {
            display: inline-block;
        }
    }
}
.alert_header {
    height: 3px;
    
    @include border-top-radius($default-border-radius);

    background-color: $body-background-color;
}


.alert_bottom {
    height: 50px;
    
    border-top: $border-canon;
    @include border-bottom-radius($default-border-radius);

    background-color: $alert-footer-background;
}


.marker {
    
    // position: absolute;
    position: relative;
    float: left;

    width: $alert-marker-width;
    content: "";
    font-family: FontAwesome;
    font-size: $alert-icon-large;
    text-decoration: none !important;

    .alert-error,
    .alert-danger {
        &::before {
            @include alert-error-icon;
            color: $error-icon-color;
        }
    }
    .alert-warning {
        &::before {
            @include alert-warning-icon;
            color: $warning-icon-color;
        }
    }
//     .alert-success {
//         &::before {
//             @include alert-success-icon;
//             color: $success-icon-color; 
//         }
//     }
    .alert-confirm {
        &::before {
            @include alert-confirm-icon;
            color: $informational-icon-color;
        }
    }
    .alert-info {
        &::before {
            @include alert-informational-icon;
            color: $informational-icon-color;
        }
    }
}

// sizings for error icon when iamge file is necessary
.alert-error-image {
    &.small {
        width: $alert-icon-small;
        height: $alert-icon-small;    
    }
    
    &.large {
        width: $alert-icon-large;
        height: $alert-icon-large;
    }
}


