@import "compass/css3/box-sizing";

$alert-marker-width: 60px;

/* general alert dialog styles */

.alert {

        width: $default-dialog-width;
        margin-left: auto;
        margin-right: auto;

    .errors {
//         width: 483px;
       //  max-width: 483px;
    }

    .guts {
//      width: 500px;
//      max-width: 500px;

        background-color: $body-background-color;

    .alert_content {
        margin-left: $alert-marker-width;
    }

        .content {

            .left {
                float: left;
                max-width: 360px;
                word-wrap: break-word;
                @include after-clearfix;

                h1 {
                    color: black;
                    font-size: $medium-font;
                    font-weight: $semibold;
                    margin-bottom: 10px;
                }

                p {
                    @include font-normal-alpha;
                }
            }

            .right {
                float: right;
                width: 90px;

                img {
                    float: right;

                    &.info {
                        display: none;
                    }
                    &.error {
                        display: none;
                    }
                }
            }
        }

        .body {
            margin-top: 10px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 300px;
            border: 1px solid $border-color;
            font-size: $small-font;
            font-weight: normal;
            color: black;
        }
    }

    .alert-message,
    .alert-error,
    .alert-info,
    .alert-warning {
        display: none;
    }

        
    &.info {
        .alert-info {
            display: inline-block;
        }
    }

    &.error {
        .alert-error {
            display: inline-block;
        }
    }
}

#alert_bottom {
    height: 50px;
}

.marker {

        
        // position: absolute;
        position: relative;
        float: left;

        width: $alert-marker-width;
//             left: 10px;
//             top: 12px;
        content: "";
        font-family: FontAwesome;
        font-size: $alert-icon-large;
        text-decoration: none !important;
       
        
        .alert-error,
        .alert-danger {
            &::before {
                @include alert-error-icon;
                color: $error-icon-color;
            }
        }
        .alert-warning {
            &::before {
                @include alert-warning-icon;
                color: $alert-icon-color;
            }
        }
        .alert-success {
            &::before {
                @include alert-success-icon;
                color: $success-icon-color; 
            }
        }
        .alert-deletion {

            &::before {
                @include alert-success-icon;
                color: $informational-icon-color;
            }
        }
        .alert-info {
            &::before {
                @include alert-informational-icon;
                color: $informational-icon-color;
            }
        }

}
