.change_password input[name="password"] {
    margin-bottom: $default-padding-vertical;
}

// intended to be a general app form label field
.form_label {
    padding:0;
    margin-top: 5px;
    margin-bottom: 3px;

}