/* general dialog styles */

/* .girdle wraps the content of the dialog popup */
/* and sets the overall margins for the content area */
.popup .girdle {
    padding: 10px $dialog-padding 0 $dialog-padding;
    border: none;
}

.dialog {
    .dialog_header {
        border-bottom: 1px solid $border-color;
        background-color: $dialog-header-background;
        word-break: break-all;
        height: 40px;
        line-height: 40px;

        h1 {
            font-size: 14px;
            color: rgb(88, 89, 95);
            @include uppercase;
            vertical-align: middle;
            margin: 0 $dialog-padding;
            padding-right: 25px;
            @include ellipsis;
        }
    }

    h2 {
        font-size: $medium-font;
    }

    .dialog_content {
        background-color: $body-background-color;

        line-height: 16px;

        .menus {
            height: 30px;
        }

        &.is_loading {
            padding: 50px;
            text-align: center;

            & > div {
                display: inline-block;
            }
        }

        legend.subtitle {
            padding: 10px 10px 10px 0px;
            width: 100%;
            @include font-normal-alpha;

            .text {
                float: left;
                padding-right: 10px;
            }
        }
    }

    .errors {
        word-break: break-word;
    }

    fieldset.in_a_box {
        border: none;
        padding: 0 0 $dialog-padding 0;

        legend label {
            font-size: 14px;
            font-weight: normal;
            color: $color-text1;
        }

        form label {
            margin-top: 8px;
        }

        form label, input {
            display: inline-block;
        }
    }

    &.with_sub_header {
        .sub_header {
            padding: 5px 15px;
            border-bottom: $border-canon;
        }

        .sub_content {
            padding: 10px $dialog-padding;
        }

        .loading_section {
            padding: 20px;
        }

        /* .form_controls { margin: 0; } */
    }

    .sub_header {
        padding : 0;
        line-height: 34px;
        vertical-align: middle;

        .sort_menu {
            float: right;
        }
    }

    .chorus_search_container {
        display: block;
    }

    label {
        @include dialog-label;
    }

    .additional_options {
        float: right;
        font-size: 13px;
    }

    .display_box {
         margin-top: 10px;
         padding: 10px;
         overflow-y: auto;
         overflow-x: hidden;
         max-height: 100px;
         border: 1px solid $border-color;
         @include font-normal-delta;
         margin-left: 14px;
         margin-right: 14px;
    }
}

.icon-add,
.icon-remove {
    &.fa {
        font-size: 16px;
    }
}



/* dialog widths */
div.dialog {
    width: $default-dialog-width;

    &.dialog_wide {
      width:940px;
    }
}

/*Custom Dialog widths */

.dialog.data_source_permissions {
  width: 570px;
}

.dialog.edit_workspace_dialog {
     width: 580px;
}

/* to do: work out what should be in show_image.scss and what should be here */
.dialog.show_image {
    width: 100%;
    min-width: 600px;

    .dialog_header {
        height: 35px;
        border: none;
    }

    .workspace_row {
        background-color: $dialog-header-background;
        height:25px;
        border-bottom: 1px solid $border-color;

        .workspace_image {
            height: 18px;
            padding-left: 20px;
            padding-right: 5px;
            float: left;
        }
    }

    .content_space {
        padding: 10px;

        img {
            max-width: 1200px;
        }

        .interactions_row {
            padding-left: 10px;
            a {
                padding-right: 20px;
            }
        }

        .image_space {
            text-align: center;

            .main_image {
                padding:10px;
            }
        }
    }
}

.dialog .full_dialog_horizontal {
    display: block;
    width: $default-dialog-width - 35px;
}
