.edit_tags {

    .dialog_content {
        height: 225px;

        .tags_input .text-wrap {
            overflow-y: visible;
            .text-tags {
                height: 150px;
                overflow-y: scroll;
            }
        }
    }
}