.publish_to_tableau_dialog {
  $dialog-width : 450px;
  $account_width : 200px;
  $input-spacing : 16px;

  width: $dialog-width;

  .target_location {
    width: $dialog-width;
    @include results-console-message;
    @include ellipsis;
    padding-bottom: 10px;
  }

  label {
    margin-top: 15px;
    margin-bottom: $padding-y;
    display: inline-block;
  }

  .username, .password {
    margin-left: 0px;
    display: block;
    width: $account_width;
  }
}