$shuttle-list-item-height: 40px;

.shuttle_widget {
    background-color: $body-background-color;

    .shuttle_header {
        border-bottom: $border-canon;
        position: relative;
        height: 35px;

        .search_container {
            left: 0;
            border-right: $border-canon;
        }

        .summary {
            left: 50%;
        }

        .search_container {
            padding-right: 15px;
        }
        .summary {
            padding-left: 15px;
        }

        a {
            float: right;
            font-weight: $semibold;
        }            

        .chorus_search_container {
            display:inline-block;
            width: 70%;
        }

        .object_name {
            color: $color-text3;
        }

        .selected_count {
            padding-left: 5px;
        }

    }

    .shuttle_body {
        position: relative;
        height: (($shuttle-list-item-height + $default-border-width) * 8);
    }

    a {
        font-size: 12px;
    }

    .was_added {
        color: $color-text3;
        float: right;
        font-size: 12px;
    }

    li a {
        float: right;
    }

    img.profile {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

    div.image {
        position: relative;
        display: inline-block;
        width: $shuttle-list-item-height - 6px;
        height: $shuttle-list-item-height - 10px;
    }

    ul {
        position: absolute;
        width: 50%;
        top: 0;
        bottom: 0;
        vertical-align: top;
        overflow-y: auto;
        overflow-x: hidden;

        li {
            height: $shuttle-list-item-height;
            border-bottom: $border-canon;
            /* padding: 0 8px; */
            padding: 0;
            line-height: $shuttle-list-item-height - 3px;

            .name {
                @include font-normal-alpha;
                vertical-align: middle;
                @include ellipsis;
                padding-left: 10px;
                display: inline-block;
                max-width: 65%;
            }
        }

/* available = left-side of the 2column list */
        &.available {
            left: 0;
            border-right: $border-canon;

            li {
                .checkmark {
                    display: none;
                    position: absolute;
                    top: 17px;
                    right: -2px;
                    font-size: 10px;
                    color: #77CC33;
                }

                &.added {
                    .checkmark {
                        display: inherit;
                    }
                    a {
                        display: none;
                    }
                    .was_added {
                        display: inline;
                    }
                }

                a {
                    display: inline;
                }

                .was_added {
                    display: none;
                }
            }
        }
        
/* selected = right-side of the 2column list */
        &.selected {
            left: 50%;

            li {
                display: none;
                &.added {
                    display: block;
                }
            }
        }
    }
}

/* .dialog.workspace_edit_members .dialog_content .form_controls { */
/*      margin-top: 0px; */
/* } */
