@mixin chart_icon($name){
    .#{$name}.chart_icon {
        background-image: url("/images/visualizations/dialog/#{$name}_off.png");
        &.selected {
            background-image: url("/images/visualizations/dialog/#{$name}_on.png");
        }
    }
}


// viz dialog uses the "wide" dialog value
$visualization-dialog-width: $default-dialog-width-wide;

$chart-width: $visualization-dialog-width - ($dialog-padding * 2);   // subtract girdle from width. 910px
$chart-height: 350px;

// **********

.visualization {

    .dialog_content {
        padding: 0;
    }

    .right {
        float: right;
        padding: 10px 10px 0;
        font-size: $small-font;
        font-weight: $semibold;
    }

    .execution {
        .right {
            padding: 0;
        }
    }

    .headerbar {
        background: $body-background-color;
        border-bottom: $border-canon;
        font-size: 0;

        .text {
            padding: 10px 10px 0;
            display: inline-block;
            vertical-align: top;
        }

        .type {
            font-size: $medium-font;
            font-weight: $semibold;
            color: $color-text3;
        }

        .label {
            @include results-console;
            color: $color-text3;
        }

        .filter {
            font-size: $small-font;
            font-weight: $semibold;
            padding: 0 10px 0 0;
            line-height: 35px;
            vertical-align: middle;
        }

        .action_bar_icon {
            height: 35px;
            width: 45px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-left: $border-canon;

            &.selected {
                background-color: $chart-fill-color;
            }
        }

        @include chart_icon(boxplot);
        @include chart_icon(chorusview);
        @include chart_icon(frequency);
        @include chart_icon(heatmap);
        @include chart_icon(histogram);
        @include chart_icon(timeseries);
    }

    .filter_content {
        // line-height: 32px;
        line-height: 30px;
    }

    .form_controls {
/*         margin-top: 0; */

        .vertical {
            a {
                font-size: $small-font;
                font-weight: $semibold;
                padding-left: 10px;
                display: inline-block;
                padding: 20px 0 0 10px;
            }
        }
    }

    .chart_container {
       width: $chart-width;
       height: $chart-height;
       padding: 0;
       margin: 0;
       position: relative;
    }

    .overlay {
        background-color: #000000;
        @include opacity(.71);
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $default-border-radius;
        text-align: center;
               
        p {
            margin-top: $chart-height / 2 - 10;
            
            color: $core-white;
            font-size: $medium-font;
            font-weight: $semibold;
        }
        
        &.disabled {
            cursor: default;
        }
    }

    .chart_area {
        width: $chart-width;
        height: $chart-height;

        background: $core-white;
        vertical-align: middle;
        text-align: center;

        .empty_data {
            font-weight: $semibold;
            position: relative;
            top: 50%;
        }
    }

    .results_console {
        .bottom_gutter {
            height: 0;
            background: transparent;
        }
    }
}
