.tag_list {
    .tag_list_item {
        font-size: 18px;
        color: #5f5f5f;
        background-image: url('/images/tags/icon_tag.png');
        background-position: 10px center;
        background-repeat: no-repeat;

        div {
            margin: 5px;
            margin-left: 60px;
        }
    }

    .tag_list_item.selected {
        color: #2c95dd;
    }

    .no_tags {
        @include secondary-text-small;
        margin: 10px;
    }
}