$sidebar-selecteditem-fontsize: 18px;

.tag_list_sidebar {
    .tag_title {
        font-size: $sidebar-selecteditem-fontsize;
        font-weight: $semibold;
        word-wrap: break-word;
        word-break: break-all;
        margin-bottom: 10px;
    }
}