.workspace_list_sidebar, .workspace_show_sidebar {
    .info {
        .name {
            @include ellipsis;
            @include heading-sidebar;
            margin-bottom: 10px;
        }
    }

    .workspace_member_list {
        margin: 5px 0px;
    }

    img.workspace_image {
        max-width: $sidebar-width - 20px;
        padding-bottom: 16px;
    }
}