.workspace_summary_content_header {
    .activity_list_header {
        .menus {
            margin-top: 5px;
        }

        h1 {
            padding-top: 0px;
            padding-left: 0px;
        }
    }
}