.workspace_summary_content_header {
    
    h1 {
        padding-top: 0px;
        padding-left: 0px;
    }

    .workspace_title {
        @include heading-normal;
        padding-top: 10px;
    }

    img {
        float: left;
    }

/*     .truncated_summary { */
/*         display: inline-block; */
/*     } */

    @include after-clearfix;
}
