.workspace_summary_content_header {
    .activity_list_header {
        h1 { padding-top: 8px; }
        padding-bottom: 8px;
        clear: both;
        .menus {
            @include ellipsis;
        }
    }

    .project_status {
        margin-right: 10px;
        float: right;

        .progress_container {
            display: inline-block;
            width: 120px;
            height: 10px;
            border: 1px solid $color-text1;

            .progress {
                height: 100%;
                background-color: $chart-fill-color;
            }
        }

    }
}
