.workspace_summary_content_header {
    .activity_list_header {
        .workspace_title {
            @include heading-normal;
            padding-top: 8px;
        }
        padding-bottom: 8px;
        clear: both;
        .menus {
            @include ellipsis;
        }
    }

    .project_status {
        margin-right: 10px;
        float: right;
    }
}
