.workspace_summary_content {
    background-color: #DDE;

    .truncated_summary {
        /*         display: inline-block; */
    }

    .project_status {
        /*         margin-right: 10px; */
        float: right;
    }

}

#workspace_content_recentActivity_header {
    margin-top: 10px;
    
    .menus {
        float: none;
        padding-bottom: 5px;
        margin-top: 5px;
    }
}
