---
http_interactions:
- request:
    method: post
    uri: https://www.kaggle.com/connect/chorus-beta/message?apiKey=<SUPPRESSED_KAGGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: apiKey=<SUPPRESSED_KAGGLE_API_KEY>&subject=Please+analyze+my+data&userId=63766&userId=63767&htmlBody=I+have+a+lot+of+data+that+needs+to+be+analyzed.&replyTo=user%40chorus.com
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"status\": 200,\r\n  \"sent\": [\r\n    63766,\r\n    63767\r\
        \n  ],\r\n  \"failed\": []\r\n}"
  recorded_at: Thu, 22 Nov 2012 00:56:53 GMT
recorded_with: VCR 2.3.0
