---
http_interactions:
- request:
    method: post
    uri: https://www.kaggle.com/connect/chorus-beta/message?apiKey=<SUPPRESSED_KAGGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: <SUPPRESSED_KAGGLE_API_KEY>
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"status\": 200,\r\n  \"sent\": [\r\n    63766,\r\n    63767\r\
        \n  ],\r\n  \"failed\": []\r\n}"
  recorded_at: Wed, 21 Nov 2012 19:55:04 GMT
recorded_with: VCR 2.3.0
