.text-core {
    width: 100% !important;
    display: inline-block;
    height: 20px;

    margin-right: 30px;

    .text-wrap {
        width: 100% !important;

        textarea.borderless {
            border: none;
        }

        #tag_editor {
            width: 100% !important;
            line-height: 16px;
        }

        .text-tags .text-tag {
            margin-bottom: 4px;
            vertical-align: middle;

            div.text-button {
                background-color: #3096DE;
                border-radius: 0;
                padding: 0;
                border: none;
                height: 20px;

                .text-label, .text-remove {
                    color: #FFF;
                    padding: 0;
                    margin: 0;
                }

                .text-label {
                    top: 2px;
                    margin: 0;
                    position: static;
                    padding: 0 5px;
                }

                .transition-border {
                    border-left: 1px solid #1174B7;
                    border-right: 1px solid #59B1F1;
                    height: 20px;
                    vertical-align: middle;
                    display: inline-block;
                }

                .text-remove {
                    background-color: #3096DE;
                    background-image: none !important;
                    display: inline-block !important;
                    height: 20px !important;
                    line-height: 19px;
                    padding-left: 4px;
                    font-size: 10px;
                    position: static !important;
                }

                &.disabled {
                    .text-label {
                        border: none;
                    }
                    .text-remove {
                        display: none !important;
                    }

                    .transition-border {
                        display: none;
                    }
                }
            }
        }
    }
}

.arrow_left {
    background-color: #FFF;
    display: inline-block;
    width:0px;
    height:0px;
    border-bottom:10px solid transparent;  /* left arrow slant */
    border-top:10px solid transparent; /* right arrow slant */
    border-right: 10px solid #3096DE;
    font-size:0px;
    line-height:0px;
    vertical-align: middle;
    position: static;
}

.tag-list {
    div {
        display: inline-block;

        span.text-label {
            display: inline-block;
            font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            color: #FFF;
            background-color: #3096DE;
            margin: 2px 3px 2px 0;
            padding: 0 5px;
            line-height: 20px;
            text-wrap: unrestricted;
            word-wrap: break-word;
        }
    }

}

.save_tags {
    font-size: 12px;
    position: absolute;
    right: 13px;
    bottom: 14px;
}

.edit_tags {
    font-size: 10px;
    color: $color-text3;

    &:hover {
        color: $link-color
    }
}


