.workfile_sidebar {
    .info {
        .fileName {
            @include ellipsis;
            @include heading-sidebar;
            margin-bottom: 10px;
        }

        .updated {
            color: $color-text4;
            margin-top: 5px;
        }
    }

    .workfile_image {
        display: none;
    }
}


.workfile_sidebar {
    .info {
        margin-bottom: 20px;
    }

    html.ie8 & {
        button {
            font-size : 15px;
        }

    }
}

.workfile_sidebar {
    .info {
        margin: 5px 0 20px 0;
    }

    .version_list {
        font-size: 12px;
        margin-left: 3px;
        span {
            color : $link-color;
            color: $link-color;
        }

        img {
           margin: 2px;
        }
    }
}

.workfile_version_list {
    li {
        position: relative;
        max-width: 360px;

        a {
            padding-top: 10px;
            display: inline-block;
        }

        &:first-child a {
            /* qtip has some top padding already */
            padding-top: 6px;
        }

        &:last-child .spacer {
            border-bottom: none;
        }

        &:hover {
            .version_title {
                text-decoration: underline;
            }
        }

        img {
            display: inline-block;
            vertical-align: top;
        }

        .version_info {
            display: inline-block;
            width: 80%;
        }

        .version_title {
            @include font-menu;
        }

        .version_details {
            margin-top: 2px;
            @include secondary-text-small;
            padding-bottom: 10px;
        }

        .spacer {
            border-bottom: $border-canon;
        }

        a.delete_link {
          position: absolute;
          right: 0;
          top: 0;
        }
    }
}

ul.schema_menu {
    overflow: auto;
    max-height: 300px;

    li {
        margin: 2px 4px 0px 8px;

        .check {
            background-repeat: no-repeat;
            background-image: url("/images/check.png");
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 2px;
            margin-left: -14px;
            position: relative;
            top: 1px;

            &.hidden {
                visibility: hidden;
            }
        }

        a {
            cursor: pointer;
        }
    }
}
