.fixed {
    position: fixed;
    left: $guts-padding;
    margin-right: $sidebar-width + $sidebar-padding-x + 1;
    right: 0px;
    top: $header-height + 1;
    z-index: $header-z-index - 1;
}

.workfile_content_details {
    a {
        @include font-content-details;
    }

    .save {
        float: right;

        span.view {
            margin-right: 0;
            font-size: 11px
        }

        span.auto_save {
            margin-right: 10px;
            font-size: 12px;
            color: $color-text4;
            font-weight: normal;
        }
    }

    .down_arrow {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #aaa;
        margin: 0 0 2px 8px;
        display: inline-block;
    }

    .execution_schema {
        color: $content-details-action-link-color;
        display: inline;
        padding-left: $padding-x;
        padding-right: $padding-x;
        font-weight: normal;
    }
}

.read_only_workfile_content_details {
    background-image: url("/images/binary_workfile_action_bar_tile.png");

    button {
        @include content-details-button(#AAA);
        color: $color-text2;
        float: right;
    }

    .not_previewable {
        @include font-content-details;
    }
}

.content {
    width: 100%;
    height: 100%;
}

.drop_insertion_point {
    margin-top: -3px;
    margin-left: -2px;
    display: none;
    border: none;
    position: absolute;
    z-index: $drag-z-index + 1;
    width:3px;
    height: 1.2em;
    background-color:$content-details-create-background-color;
    border-radius: 1px;
}

.no_cursor_overlay {
    display: none;
    position: absolute;
    z-index: 99999999999999;
    width: 100%;
    height: 100%;
    top:  0px;
    left:  0px;
}

.save_menu, .run_menu, .schema_menu {
    li {
        padding: 5px;

        a, span {
            @include font-menu;
        }

        a {
            &:hover {
                text-decoration: underline;
            }

            &.disabled {
                text-decoration: none;
                cursor: default;
                @include secondary-text-normal;
            }
        }

        span.run_default, span.run_and_download {
            color: $color-text4;
        }

        span.disabled {
            color: $color-text4;
        }

        .menu_shortcut {
            @include font-menu;
            color: $color-text4;
            float: right;
            padding-left: (6 * $padding-x);
        }
    }
}

.alpine_workfile_content {
    .alpine_workfile_image {
        max-width: 100%;
    }
}
