.hdfs_show_file_view {
    .hdfs_content {
        .hdfs_file_content {
            padding: $padding-y $padding-x;
            overflow-x: auto;
        }
    }
}

.hdfs_show_file_details {
    background: $content-details-action-background-color;
    color: $content-details-action-link-color;
    height: inherit;
    line-height: 30px;
    padding: 0 10px;
    text-align: right;
    vertical-align: middle;

    .errors {
        margin-left: -$padding-x;
        margin-right: -$padding-x;
    }
}