.comment {
    .body {
        @include font-normal-alpha;
    }

    .user {
        font-size: 13px;
        font-weight: $semibold;
    }

    .comment_info {
        font-size: 13px;
        color: $color-text4;
    }

    padding-top: 4px;
    line-height: 19px;
}