@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* * */
/* .form_controls= the 'footer' section at bottom of dialogs with the buttons */
/* * */
.popup .form_controls {
    height: 50px;
    background-color: $dialog-header-background;
    border-top: $border-canon;

    .links,
    button {
         @include vertical-align;
    }

    .links { margin-left: 14px; float: left; }
}

.form_controls {
    margin-top: 10px;
    padding-right: $dialog-padding;
    padding-left:  $dialog-padding;

    button { 
        /* TODO revise all button to be sequenced in list as they will appear */
        float: right; 
        margin-right: 10px;
    }

    label {
        line-height: $button-height;

        &.required:after {
          margin-right: 3px;
        }
    }

    @include after-clearfix;
}

.controls,
.form_controls {
    button {
        display: inline-block;
        
        div[aria-role=progressbar] {
            top: -4px;
            left: 17px;
            display: inline-block;
            > group {
                /* Position fixes for IE8 VML fallback */
                position: absolute;
                bottom: 7px;
                left: 0px;
            }
        }

        &.is_loading {
            padding-right: 35px;
        }
    }
}
