/* ********** */
/* errors, messages, etc in dialogs          */
/* also alerts - which are messaging dialogs */
/* ********** */

$alert-border-radius: 3px;

$alert-icon-large: 22px;
$alert-icon-medium: 16px;
$alert-icon-small: 12px;


@mixin alert-error-icon {
    font-family: FontAwesome;
    content: "\f06a";   /* fa-exclamation-circle */
}

@mixin alert-warning-icon {
    font-family: FontAwesome;
    content: "\f071";   /* fa-exclamation-triangle */
}

@mixin alert-success-icon {
    font-family: FontAwesome;
    content: "\f058";   /* fa-check-circle */
}

@mixin alert-informational-icon {
    font-family: FontAwesome;
    content: "\f06a";   /* fa-exclamation-circle */
}


@mixin alert-marker {
	&::after {
		display: inline-block;
		width: 0;
		height: 0;
		position: relative;
		right: 19px;
		top: 1px;
		color: $alert-icon-color;
		font-size: $alert-icon-medium;
		@include alert-error-icon;
	}
}

.errors,
.sql_errors,
.dataset_errors,
.warning {
    @include after-clearfix;
    background-color: $error-background-color;
    vertical-align: middle;
    font-weight: normal;
    line-height: 16px;

    ul {
        float: left;
        text-align: left;
        max-width: 85%;
        
        li {
            padding: 10px 10px 10px 16px;
            color: $error-text-color;
            font-size: $medium-font;
            vertical-align: top;

        }
    }

    .action {
        font-weight: normal;
        display: inline-block;
        float: right;
        margin: 0 10px;
        font-size: $medium-font;
        color: $core-white;
        padding-top: 10px;
    }
}
/*     .action { */
/*         font-weight: normal; */
/*         display: inline-block; */
/*         float: right; */
/*         margin: 0 10px; */
/*         font-size: $medium-font; */
/*         color: white; */
/*         padding-top: 10px; */
/*     } */


.error_block {}

.warning {
    background-color: $needs-attention;
}

/* user input: named error BUT in meaning is as alert */

/* TODO */
/* need to figure out how to use the FA glyph for all form fields */
/* cant seem to find a way to use it as the background */
/* so how then... */

input.has_error,
textarea.has_error,
.text-core .text-wrap textarea.has_error,
.text-core .text-wrap input.has_error {
    border: 2px solid $error-background-color;
    @include border-radius(1px);

    background-image: url("/images/messaging/error-exclamation.png");
    background-repeat: no-repeat;
    background-position: 99%;
    padding-right: 20px;
}

.cleditorMain.has_error {

    border: 2px solid $alert-background-color !important;
    @include border-radius(1px);
    
    background-image: url("/images/messaging/error-exclamation.png");
    background-repeat: no-repeat;
    background-position: 99%;
    padding-right: 20px;

    iframe body {
        margin-right: 20px;
    }
}

.error_detail {
    background: red;
    color: $core-white;
}

.ie9, .ie8, .ie7 {
    textarea.has_error {
        background-position: 93%;
    }
}

.bad_activity {
    background: $error-background-color !important;
    font-size: 20px !important;
}
