@import "_common";
@import "compass/css3/border-radius";
@import "_button_common";


// GENERAL RULES FOR FORMS IN THE APPLICATION */


// widget "* = required" */
.legend_for_required {
    position: relative;
    top: 10px;
    margin-top: 5px;
    font-size: $small-font;
    color: #707070;
}

// red asterisk for required fields */
.required::after {
    margin-left: 2.2px;
    content: "*";
    font-size: 1.05em;
    color: $required-marker-color;
}

// grouping of options in form */
fieldset {
    margin: 0 0 0 0;
    padding: 5px 10px 5px 10px;
    
    @include border-radius(2px);
    
    legend {
        font-weight: $semibold;
        font-size: $medium-font;
    }
}

.form_row {
    line-height: 30px;
    vertical-align: middle;
}

.row {
    &:first-child {
        margin-top: -5px;
    }
}

.girdle {
    label {
        margin-top: 8px;
        margin-bottom: 1px;
    }
}

.form_pair {

    // default for all form labels = label on line above form element */
    label {
        display: block;
    }
}


// BUTTONS AT BOTTOM OF FORM
// TODO needs to distinguish FORM PAGE from FORM DIALOG
.form_controls {
    // make padding account for the margin applied to buttons
    // so that buttons are aligned with overall margins
    padding-right: $dialog-padding-leftRight - $button-margin-x;
    padding-left:  $dialog-padding-leftRight - $button-margin-x;

    button {
        float: right; 
        margin-right: $button-margin-x;
    }

    label {
        line-height: $button-height;
    }

    @include after-clearfix;
}

// DIFFERENCES when form is in main page
.logged_in_layout {
    .form_controls {
    
        button {
            float: none;
            margin-right: 0;
        }    
    }
}
