@import "_common";
@import "compass/css3/border-radius";

/* general rules for forms in the application */

/* widget displaying "* = required" */
.legend_for_required {
    position: relative;
    top: 10px;
    /* margin-top: 15px; */
    font-size: $small-font;
    color: #707070;
}


/* grouping of options in form */
fieldset {
    margin: 0 0 0 0;
    padding: 5px 10px 5px 10px;
    
    @include border-radius(2px);
    
    legend {
        font-weight: $semibold;
        font-size: $medium-font;
    
    }
}


.form_row {
    line-height: 30px;
    vertical-align: middle;
}


.row {
    &:first-child {
        marging-top: -5px;
    }
}

/* section of buttons at bottom of form */
.form_controls {
    padding-right: $dialog-padding;
    padding-left:  $dialog-padding;

    button { 
        /* TODO revise all button to be sequenced in list as they will appear */
        float: right; 
        margin-right: 10px;
    }

    label {
        line-height: $button-height;
    }

    @include after-clearfix;
}

.girdle {
    label {
        margin-top: 8px;
        margin-bottom: 1px;
    }
}

.form_pair {

    /* default for all form labels = label on line above form element */
    label {
        display: block;
    }
}
