@import "_common";

/* general rules for forms in the application */

.legend_for_required {
    position: relative;
    top: 10px;
/*     margin-top: 15px; */
    font-size: $small-font;
    color: #777;
}


/* section of buttons at bottom of form */
.form_controls {
    padding-right: $dialog-padding;
    padding-left:  $dialog-padding;

    button { 
        /* TODO revise all button to be sequenced in list as they will appear */
        float: right; 
        margin-right: 10px;
    }

    label {
        line-height: $button-height;
    }

    @include after-clearfix;
}

