i {
    font-size: 12px;
}

*:focus {
    outline: none;
}

a:focus {
    outline: none;
}

a {
    color: $link-color;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

html, body {
    color: $color-text1;
    background-color: $body-background-color !important;
    font-family: $font-family;
    height: 100%;
}

label {
    text-align: left;
    font-size: 14px;
    color: $color-text3;
}

input, textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 3px;
    font-family: $font-family;
    @include borderbox;
}

textarea {
    resize: none;
}

input[type=checkbox], input[type=radio] {
    display: inline;
    width: auto;
}

input[type=checkbox] {
    margin: 5px 4px;
}

.required:after {
    content: "*";
    color: $error-background-color;
    vertical-align: middle;
    margin-left: 5px;
}

.hidden {
    display: none !important;
}

.pull_left {
    float: left;
}

.invisible {
    visibility: hidden !important;
}

.no_cursor {
    cursor: none;
}

img.disabled {
    @include opacity(0.25);
}

/* Prevent focus outline on scrollable elements */
.jspScrollable:focus {
    outline: none;
}

.badge {
    div {
        height: 15px;
        display: inline-block;
        @include secondary-text-small;
        font-weight: $semibold;
        vertical-align: middle;
        line-height: 14px;
        color: white;
    }
    .left {
        background: url(/images/ribbons/counter_orange_round1.png) no-repeat;
        width: 6px;
    }
    .center {
        background: url(/images/ribbons/counter_orange_2.png) repeat;
    }
    .right {
        background: url(/images/ribbons/counter_orange_round3.png) no-repeat;
        width: 8px;
    }
}
