<label class="required">{{t "data_sources.dialog.data_source_name"}}</label>
<input type="text" name="name" maxlength="64" value="{{name}}" tabindex="1"/>

<label>{{t "data_sources.dialog.description"}}</label>
<textarea rows="3" name="description" maxlength="4095" tabindex="1"/>{{description}}</textarea>
