<label class="required">{{t "data_sources.dialog.hdfs_version"}}</label><br/>
<select class="hdfs_version" name="hdfsVersion">
    {{#if selectOne}}
    <option selected name="select_one" value="">{{t "selectbox.select_one"}}</option>
    {{/if}}
    {{#each hdfsVersions}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select><br/>