<input type="checkbox" name="hiveKerberos" id="register_jdbc_hive_kerberos" tabindex="1"/>
<label for="register_jdbc_hive_kerberos">{{t "data_sources.dialog.register_jdbc_hive_kerberos"}}
</label>

<label class="required hiveKerberosPrincipal hidden" name="hiveKerberosPrincipal">{{t "data_sources.dialog.kerberos_principal"}}</label>
<input class="hiveKerberosPrincipal hidden" type="text" name="hiveKerberosPrincipal" maxlength="256" tabindex="1"/>
<label class="required hiveKerberosKeytabLocation hidden" name="hiveKerberosKeytabLocation">{{t "data_sources.dialog.kerberos_keytab"}}</label>
<input class="hiveKerberosKeytabLocation hidden" type="text" name="hiveKerberosKeytabLocation" maxlength="256" tabindex="1"/>

<input type="hidden" name="hive" value="true"/>