<div class="errors {{#unless serverErrors}}hidden{{/unless}}">
    {{#if serverErrors}}
        {{renderErrors serverErrors}}
        <!-- <a class="close_errors action" href="#">{{t "actions.close"}}</a> -->
    {{/if}}
</div>
