
<!-- <div class="info_block"> -->
<!--     <div class="col"> -->
<!--         <img src="/images/messaging/icon_info_mediumgrey.png"/> -->
<!--     </div> -->
<!--     <div class="col col-last"> -->
<!--         <span>// info//</span> -->
<!--     </div> -->
<!-- </div> -->


<div class="messaging_block form_info_block">
    <span class="icon"></span>
    
    <div class="message">
        <p>{{t text}}</p>
    </div>
</div>
