<div class="right">
    <div class="token username">
        <a href="#" title="{{fullName}}">
            <span>{{firstName}}<i class="caret oi" data-glyph="caret-bottom"/></span>
        </a>
    </div>

    <div class="menu hidden popup_username">
        {{> usernameMenu}}
    </div>

    <div class="token messages">
        <a href="#" class="notifications">
            <div class="lozenge {{#unless notifications.length}}empty{{/unless}}">{{notifications.pagination.records}}</div>
        </a>
    </div>

    {{#if advisorNow}}
        <div class="token advisor_now">
            <a href="{{advisorNowLink}}" title="Consult with the AdvisorNow Data Scientists..." target="_blank">
                <img src="/images/advisor_now.png"/>
            </a>
        </div>
    {{/if}}
    <div class="menu hidden popup_notifications">
        {{> notificationsMenu}}
    </div>
</div>

