<div class="left">
  <div class="token drawer">
    <a href="#">
      <i class='oi' data-glyph="menu"></i>
    </a>
  </div>
    <div class="menu hidden popup_drawer">
    {{> drawerMenu}}
  </div>
  <div class="token logo">
    <a href="#/"><img src="/images/light-{{brandingLogo}}" style="max-height: 35px"/></a>
  </div>
</div>