<div class="left">
  <div class="token drawer">
      <a class="label" href="#">
      <i class='oi' data-glyph="menu"></i>
    </a>
  </div>
    <div class="menu hidden popup_drawer">
    {{> drawerMenu}}
  </div>
  <div class="token logo">
      <a class="label" href="#/"><img src="/images/light-{{brandingLogo}}"/></a>
  </div>
</div>