<div class="right">
    <div class="token username">
        <a class="label" href="#" title="{{fullName}}">
            <span>{{firstName}}<span class="fa fa-caret-down caret"></span></span>
        </a>

        <div class="menu hidden popup_username">
            {{> usernameMenu}}
        </div>
    </div>

    <div class="token messages">
        <a href="#" class="notifications label">
            <div class="lozenge {{#unless notifications.length}}empty{{/unless}}">&nbsp;</div>
        </a>
        <div class="menu hidden popup_notifications">
            {{> notificationsMenu}}
        </div>
    </div>

    {{#if advisorNow}}
        <div class="token advisor_now">
            <a class="label" href="{{advisorNowLink}}" title="Consult with the AdvisorNow Data Scientists..." target="_blank">
                <img width="75" src="/images/advisor_now.png"/>
            </a>
        </div>
    {{/if}}


</div>

