<div class="search">
  <form action="#">
    <i class='oi magnifying_glass' data-glyph="magnifying-glass"/>
    <input type="text" name="search_text" placeholder="{{t "header.search.placeholder"}}" required/>
  </form>
  <div class="type_ahead_result hidden"></div>
</div>