@import "compass/css3";
$header-margin: 30px;
$expanded-search-width: 444px;
$header-menu-separator: 1px solid $border-color;

.logged_in_layout {
    > .header {

        height: $header-height;
        background-color: $brand;
        vertical-align: middle;

        .left {
            float: left;

            .logo {
                line-height: $header-height;
                margin: 0 40px 0 20px;

                a img { vertical-align: middle; }
            }
        }

        .search {
            $icon-box-width: 32px;
            $collapsed-search-width: 178px;
            
            overflow: hidden;
            margin: 8px 0 0 0;
            border-radius: 3px;
            display: inline-block;

            i {
                z-index: 1;
                position: absolute;
                left: 154px;
                top: 15px;
                color: $brand-tint;
                font-size: 15px;
            }

            input {
                @include placeholder { color: $brand-tint; }

                height: 32px;
                background-color: $brand-shade; 
                border: none;
                color: white;
                font-weight: normal;

                transition-duration: 0.7s;
                padding-left: $icon-box-width;
                width: $collapsed-search-width;

                &:focus {
                    width: $expanded-search-width;
                    background-color: $brand-dark;
                    @include placeholder { color: transparent; }
                }
                
                html.ie8 & { height: 17px; }
            }
        }

        .type_ahead_result {
            position: absolute;
            top: 38px;
            left: 137px;
            right: $sidebar-width + $padding-x + 75px;
            background: white;
            border: 1px solid $type-ahead-result-border-color;
            padding: 1px 0 5px;
            line-height: 16px;
            vertical-align: middle;
            width: $expanded-search-width;

            .container {
                width: 100%;
                line-height: 0;
                padding-bottom: 2px;
                vertical-align: middle;
            }

            ul li {
                position: relative;
                padding: 2px 10px;
                line-height: 16px;
                vertical-align: middle;

                a, .name {
                    @include font-menu;
                    line-height: 16px;
                    margin-right: 110px;
                    @include ellipsis;
                    display: inline-block;
                    max-width: 70%;
                    padding-bottom: 2px;

                    em {
                        @include results-console;
                        background: yellow;
                    }

                }

                a:hover {
                    text-decoration: underline;
                }

                .type {
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    line-height: 0;
                }

                &.selected {
                    a, span {
                        color: white;
                    }

                    background: $link-color;
                }
            }
        }

        .right {
            position: relative;
            float: right;
            width: $sidebar-width + $padding-x + 75px;
            text-align: right;
            height: 100%;
            .active { background-color: $brand-tint; }
            .menu {
                // Overrides
                border: none;
                padding: 0 0 0 0;
                top: $header-height;
                box-shadow: 0px 4px 13px 0px $border-color;
            }
        }

        .username, .messages, .advisor_now {
            color: white;
            float: right;
            height: $header-height;
            line-height: $header-height;
        }

        .username, .messages {
            &.active a span i::before { @include rotateX(180deg); }

            a {
                text-decoration: none;
                height: 100%;
                display: block;
                color: inherit;

                span {
                    display: inline-block;
                    i { margin-left: 15px; }
                }

                
            }
        }

        .username {
            &:hover { background-color: $brand-tint; }
            width: $header-margin * 3;
            margin-right: $header-margin;
            a {
                text-align: center;
                span { @include ellipsis; }
            }
        }

        .messages {
            width: $header-margin * 2;
            height: $header-height;
            line-height: $header-height;
            text-align: center; 
            
            a.notifications .lozenge {
                    &.empty { background: $brand-dark; }
                    font-weight: $semibold;
                    display: inline-block;
                    min-width: 30px;
                    padding: 2px;

                    height: $header-height / 3 ;
                    line-height: $header-height / 3;

                    text-align: center; 

                    border-radius: 30px;
                    background: $notification; 
            }
        }

        .advisor_now {
            border-right: 1px solid $color-text3;
            a {
                img {
                    vertical-align: middle;
                    padding-bottom: 3px;
                }
            }
        }
    }
}

.menu.popup_username {
    line-height: 24px;
    right: $header-margin;
    width: $header-margin * 6;
    
    $item-height: 40px;
    a {
        text-decoration: none;
        li {
            &:hover { background-color: $list-hover-color; }
            height: $item-height;
            line-height: $item-height;
            padding-left: 15px;
            &.underline { border-bottom: $header-menu-separator }
        }
    }
}

.menu.popup_notifications {
    right: $header-margin * 4;
    top: $header-height;
    width: 320px;
    padding: 0;
    line-height: 14px;

    border: none;

    .notification_area {
        overflow: auto;
        max-height: 900px;

        $difference: 150px;
        $window-height: 1000px;
        @while $window-height > 300px {
            @media (max-height: #{$window-height}) { max-height: $window-height - $difference; }
            $window-height: $window-height - 50px;
        }
    }

    a {
        text-decoration: none;
        vertical-align: baseline;
        color: $link-color;

        &.delete_link {
            @include secondary-text-small;
        }
    }

    .notification_list > ul > li {
        border-bottom: $header-menu-separator;
        
        
        &.insight {
            padding: 12px 0 5px;

            .activity_item { padding-top: 12px; }
        }
    }

    a.notifications_all {
        padding: 10px 0;
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: $semibold;
    }
}
