@import "_browser_support";
@import "compass/css3";

$header-margin: 30px;

/* left and right side margins to match general page margins */
$header-margin-left: $page-margin-left;
$header-margin-right: $page-margin-right;

$expanded-search-width: 450px;
$notification-token-width: $header-margin * 2;

.oi[data-glyph=data-source]:before {
  content: url(../images/data-source-glyph.svg);
}

@mixin full-item-link($height) {
    &:hover, &.selected {
        background-color: $list-hover-color;
    }

    a {
        height: $height;
        width: 100%;
        display: table;

        text-decoration: none;

        div {
            display: table-cell;
            vertical-align: middle;
            padding-left: 15px;
                        
            sub { @include secondary-text-small; }
        }
    }
}

.underline {
    border-bottom: $border-canon;
}
    
.logged_in_layout {
    > .header {

        height: $header-height;
        background-color: $brand;
        vertical-align: middle;

        .menu {
            border: none;
            box-shadow: $shadow-canon;
            padding: 0 0 0 0;
            top: $header-height;
        }

        .token {
            &.active {
                background-color: $brand-tint;
            }
            a.label {
                color: #FFFFFF;
                text-decoration: none;
                display: block;

                height: $header-height;
                line-height: $header-height;

                span {
                    display: inline-block;
                    i {
                        margin-left: 5px;
                        color: $caret-color;
                    }
                }
            }
        }

        .left {
            float: left;
            i { font-size: 16px; }
            
            .token {
                float: left;
                &.logo {
                    width: 90px;
                    padding: 0px 10px;

                    a img {
                        vertical-align: middle;
                    }

                    img {
                        max-height: 25px;
                    }

                }

                &.drawer {
                    width: $header-height;
                    text-align: center;

                    &.active {
                        background-color: $brand-shade;
                    }

                    &:hover {
                        background-color: $brand-tint;
                    }
                }
            }
        }

        .right {
            float: right;

            .menu {
                border: $border-canon;
                border-top: none;
            }
            .token {
                float: right;

                .caret {
                    font-size: 10px;
                }

                &.active .caret::before {
                
                    /* rotate when expanding the menu */
                    /* & translate the caret's origin (centerpoint) for rotation so that it displays correctly */
                    /* dimensions are unique to the OI caret glyph */
                    @include rotateX(180deg);
                    @include transform-origin (50%, 40%);
                }

                &.username {
                    &:hover { background-color: $brand-tint; }
                    padding: 0 12px;
                    margin-right: $header-margin-right;
                }

                &.messages {
                    width: $notification-token-width;
                    text-align: center;

                    a.notifications .lozenge {
                        &.empty { background: $brand-dark; }
                        background: $notification;

                        @include lozenge(2px, 30px, $header-height/3);
                    }
                }

                &.advisor_now a img {
                    margin-bottom: 0px;
                    padding-right: 15px;
                }
            }
        }

        .search {
            $icon-box-width: 30px;
            $collapsed-search-width: 178px;

            overflow: hidden;
            margin: 8px 0 0 0;
            border-radius: 3px;
            display: inline-block;
            margin-top: 10px;
            height: 30px;

            i {
                color: $brand-light;
                z-index: 1;

                &.search_clear { font-size: 10px; }
                &.magnifying_glass {
                    position: absolute;
                    left: 168px;
                    top: 16px;
                    font-size: 15px;
                }
            }

            input {
                @include placeholder {
                    color: $brand-tint;
                }

                height: $icon-box-width;
                background-color: $brand-shade;
                border: none;
                color: white;
                font-weight: normal;

                @include transition-duration(0.7s);
                @include transition-timing-function(cubic-bezier(0,0,0,1));
                padding-left: $icon-box-width;
                padding-right: $icon-box-width;
                width: $collapsed-search-width;

                &:valid, &:focus {
                    width: $expanded-search-width;
                    background-color: $brand-dark;
                    @include placeholder {
                        color: transparent;
                    }
                }

                html.ie8 & {
                    height: 17px;
                }
            }
        }

        .menu.type_ahead_result {
            em {
                font-weight: $semibold;
                color: $color-text2;
                line-height: normal;
            }
            position: absolute;
            top: 38px;
            left: 137px;
            right: $sidebar-width + $padding-x + 75px;
            width: $expanded-search-width;

            word-break: break-all;

            .name {
                line-height: normal;
            }                        
            li.result {
                @include full-item-link(60px);
            }
            li.search_all {
                @include full-item-link(40px);
                padding-top:5px;
                padding-bottom: 5px;
            }   
            div {
                padding-right: 10px;
            }
        }

        .menu.popup_drawer {
            $drawer-width: 165px + $header-height;
            @include transition-duration(0.5s);
            @include transition-timing-function(cubic-bezier(0,0,0,1));

            &.hidden { left: -$drawer-width; display: block !important;}

            width: $drawer-width;
            height: 100vh;
            left: 0px;
            li { 
                @include full-item-link($header-height);
                &:hover .knob { background: $brand-shade; }
            }
            .knob {
                padding-left: 0px;
                color: white;
                background: $brand-dark;
                width: $header-height;
                text-align: center;
                &.remainder { height: 100vh; }
            }
        }

        .menu.popup_username {
            line-height: 24px;
            /* add 1 for 1px border around popup */
            right: $header-margin-right - 1;
            width: $header-margin * 6;

            li {
                @include full-item-link(40px)
            }
        }

        .menu.popup_notifications {
            $width: 320px;
			/* calculate the left margin. add 1 for 1px border */
            margin-left: -( ($width - $notification-token-width / 2) +1);
            width: $width;

            line-height: 14px;

            .notification_area {
                overflow: auto;
                max-height: 900px;

                $difference: 150px;
                $window-height: 1000px;
                @while $window-height > 300px {
                    @media (max-height: #{$window-height}) {
                        max-height: $window-height - $difference;
                    }
                    $window-height: $window-height - 50px;
                }
            }

            a {
                text-decoration: none;
                vertical-align: baseline;
                color: $link-color;

                &.delete_link {
                    @include secondary-text-small;
                }
            }

            .notification_list > ul > li {
                border-bottom: $border-canon;

                .activity_item:hover {
                    background: $list-hover-color;
                }
                &.insight {
                    padding: 12px 0 5px;

                    .activity_item {
                        padding-top: 12px;
                    }
                }
            }

            a.notifications_all {
                padding: 10px 0;
                display: block;
                text-align: center;
                font-size: 12px;
                font-weight: $semibold;
            }
        }
    }
}

