$header-margin: 30px;
$expanded-search-width: 444px;

.logged_in_layout {
    > .header {

        height: $header-height;
        background-color: $brand;
        vertical-align: middle;

        .left {
            float: left;

            .logo {
                line-height: $header-height;
                margin: 0 40px 0 20px;

                a img { vertical-align: middle; }
            }
        }

        .search {
            $icon-box-width: 32px;
            $collapsed-search-width: 178px;
            
            overflow: hidden;
            margin: 8px 0 0 0;
            border-radius: 3px;
            display: inline-block;

            i {
                z-index: 1;
                position: absolute;
                left: 154px;
                top: 15px;
                color: $brand-tint;
                font-size: 15px;
            }

            input {
                @include placeholder { color: $brand-tint; }

                height: 32px;
                background-color: $brand-shade; 
                border: none;
                color: white;
                font-weight: normal;

                transition-duration: 0.7s;
                padding-left: $icon-box-width;
                width: $collapsed-search-width;

                &:focus {
                    width: $expanded-search-width;
                    background-color: $brand-dark;
                    @include placeholder { color: transparent; }
                }
                
                html.ie8 & { height: 17px; }
            }
        }

        .type_ahead_result {
            position: absolute;
            top: 38px;
            left: 137px;
            right: $sidebar-width + $padding-x + 75px;
            background: white;
            border: 1px solid $type-ahead-result-border-color;
            padding: 1px 0 5px;
            line-height: 16px;
            vertical-align: middle;
            width: $expanded-search-width;

            .container {
                width: 100%;
                line-height: 0;
                padding-bottom: 2px;
                vertical-align: middle;
            }

            ul li {
                position: relative;
                padding: 2px 10px;
                line-height: 16px;
                vertical-align: middle;

                a, .name {
                    @include font-menu;
                    line-height: 16px;
                    margin-right: 110px;
                    @include ellipsis;
                    display: inline-block;
                    max-width: 70%;
                    padding-bottom: 2px;

                    em {
                        @include results-console;
                        background: yellow;
                    }

                }

                a:hover {
                    text-decoration: underline;
                }

                .type {
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    line-height: 0;
                }

                &.selected {
                    a, span {
                        color: white;
                    }

                    background: $link-color;
                }
            }
        }

        .right {
            color: white;
            position: relative;
            float: right;
            width: $sidebar-width + $padding-x + 75px;
            text-align: right;
            height: 100%;
            .active { background-color: $brand-tint; }
        }

        .username, .account, .gear, .messages, .advisor_now {
            float: right;
            height: $header-height;
            margin-right: $header-margin;
        }

        .username, .account, .gear, .messages {
            &.active a span i::before { 
                transform:          rotateX(180deg);
                -webkit-transform:  rotateX(180deg);
                -moz-transform:     rotateX(180deg);
                -ms-transform:      rotateX(180deg);
            }

            a {
                text-decoration: none;
                height: 100%;
                display: block;
                color: inherit;

                line-height: 24px;

                span {
                    display: inline-block;
                    i { margin-left: 15px; }
                }

                
            }
        }

        .username {
            width: $header-margin * 3;
            a {
                text-align: center;
                span { margin-top: 10px; @include ellipsis; }
            }
        }

        .messages {
            .notifications {
                display: inline-block;
                height: 17px;
                @include font-menu;
                vertical-align: middle;
                @include border-radius(2px);
                height: 19px;
                padding: 1px 7px 0 7px;
                background: $alert-background-color;
                text-align: center;
                min-width: 8px;
                color: white;
                line-height: 20px;

                &.empty {
                    background: $color-text2;
                }
            }
        }

        // .gear {
        //     a img {
        //         padding-bottom: 4px;
        //     }
        // }

        .popup_username, .popup_account, .popup_gear {
            line-height: 24px;
        }

        .menu.popup_username {
            // Overrides
            border: none;
            padding: 0 0 0 0;

            right: $header-margin;
            top: $header-height;
            box-shadow: 0px 4px 13px 0px $border-color;

            width: $header-margin * 6;
            
            $item-height: 40px;
            a {
                text-decoration: none;
                li {
                    &:hover { background-color: $list-hover-color; }
                    height: $item-height;
                    line-height: $item-height;
                    padding-left: 15px;
                    &.underline { border-bottom: 1px solid $border-color; }
                }
            }
        }

        .menu.popup_account {
            right: 10px;
            top: 47px;
        }

        // .menu.popup_gear {
        //     right: 0;
        //     top: 47px;

        //     .pointer {
        //         left: 90px;
        //     }
        // }

        .advisor_now {
            border-right: 1px solid $color-text3;
            a {
                img {
                    vertical-align: middle;
                    padding-bottom: 3px;
                }
            }
        }
    }
}

.popup_notifications {
    right: 3px;
    top: 47px;
    width: 450px;
    padding: 0;
    line-height: 14px;

    .notification_area {
        overflow: auto;
        padding: 8px;
        max-height: 900px;


        $difference: 150px;
        $window-height: 1000px;
        @while $window-height > 300px {
            @media (max-height: #{$window-height}) {
                max-height: $window-height - $difference;
            }
            $window-height: $window-height - 50px;
        }
    }

    .pointer {
        right: 56px;
        left: auto;
    }

    a {
        vertical-align: baseline;
        color: $link-color;

        &.delete_link {
            @include secondary-text-small;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .notification_list > ul > li {
        padding: 5px 0;
        border-bottom: $dotted-list-item-border;

        &.insight {
            padding: 12px 0 5px;

            .activity_item {
                padding-top: 12px;
            }
        }
    }

    a.notifications_all {
        padding: 10px 0;
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: $semibold;
    }
}
