.list {
    position: relative;

    li {
        padding: $padding-y 0;
        border-bottom: $dotted-list-item-border;
        margin: 0 $padding-x;
        position: relative;
        @include after-clearfix;

        &:last-child {
            border-bottom: none;

            .spacer-left {
                bottom: 0;
            }
        }

        .spacer_left, .spacer_right {
            position: absolute;
            top: 0;
            bottom: 0;
            width: $padding-x;
        }

        .spacer_left {
            left: -$padding-x;
        }

        .spacer_right {
            right: -$padding-x;
        }

        .image {
            display: block;
            float: left;
            width: $icon-image-width + 18px;
            height: $icon-image-height + 13px;
        }

        div.right-of-image {
            vertical-align: top;
            line-height: 21px;
            overflow:hidden;
            _overflow:visible;
            zoom:1;
            padding-left: $padding-x;

            .summary {
                padding-bottom: 3px;
            }

            .item_name {
                padding-bottom: 5px;
                font-weight: $semibold;
            }

            .name_disabled {
                color: $color-text2;
            }

            .comment {
                padding-bottom: 3px;
            }
            .tableau {
                padding-bottom: 3px;
            }
        }

        div.main_text {
            display: inline-block;
        }

        .description, .data_source_description {
            @include secondary-text-small;
        }

        div.details {
            font-size: 13px;
        }

        .details_area {
            @include list-item-details-area;
            .small {
                font-size: 12px
            }
        }

        div.summary {
            color: $color-text4;
            @include summary-text;

            .styled_text {
                height: auto;
                max-height: $summary-line-height * 2;
            }
            .links a {
                font-size: 13px;
            }

            &.expanded {
                .styled_text {
                    max-height: none;
                }
            }
        }

        .name span {
            max-width: none;
        }

        * {
            vertical-align: top
        }

        .main {
        }

        .name {
            font-size: 18px;
            line-height: 23px;

            span {
                display: inline-block;
                @include ellipsis;
                max-width: 68%;
            }
        }

        .tag {
            float: right;
        }

        .timestamp {
            font-size: 12px;
            font-style: italic;
        }

        .checkbox_placeholder {
            float: left;
            display: inline-block;
            width:  18px;
            height: 1px;
        }

    }

    &.selectable {
        input[type=checkbox] {
            float: left;
            margin-top: 5px;
        }

        .no_credentials {
            .name {
                color: $color-text3;
            }
            .location {
                color: $color-text2;
            }
        }

        .browse_more {
            padding: 20px 10px;
            @include font-normal-beta;
            height: auto;

            a {
                font-size: 13px;
            }
        }

        li {
            a {
                color: $color-text2;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.checked {
                background-color: $list-checked-color;

                .spacer_left {
                    background: $list-checked-color;
                    bottom: -1px;
                }

                a {
                    color: $link-color;
                }
            }

            &:hover {
                background-color: $list-hover-color;

                .spacer_left {
                    background: $list-hover-color;
                    bottom: -1px;
                }

                a {
                    color: $link-color;
                }
            }


            &.selected {
                $border-width: 2px;

                background-color: white;
                padding-bottom: $padding-y - ($border-width - 1px); // default border is 1px
                border-bottom: $border-width solid $border-color;

                a {
                    color: $link-color;
                }

                .spacer_left {
                    background: white;
                    bottom: -$border-width;
                    border-bottom: $border-width solid $border-color;
                }

                .spacer_right {
                    border-left: 2px solid $border-color;
                }
            }
        }
    }
}

.item_tag_list {
    .tag_name:after {
        content: ', ';
        color: $color-text2;
        font-weight: $semibold;
    }

    .tag_name:last-child:after {
        content: '';
    }
}
