#main_content {
    border: $border-canon;
    @include border-radius(3px);
}

.content_header {
    background: white;
    min-height: 36px;
    padding: 12px $padding-x 5px;
    border-bottom: $border-canon;
    @include border-top-radius(3px);

    h1 {
        @include ellipsis;
        padding-top: 16px;
        padding-bottom: 7px;
        @include heading-normal;
    }

    .icon {
        padding-top: 6px;
        float: left;
        padding-right: 5px;
    }

    .menus {
        float: right;
        text-align : right;
        margin-top:25px;
        height: 25px;
        @include after-clearfix;
    }

    .list_header {
        @include toggle-menus;

        .title {
            img {
                float: left;
            }
            h1 {
                padding-left: 5px;
            }
        }
    }
}

.content_details {
    border-bottom: $border-canon;
}


.content_footer {
    height: auto;
    border-top: $border-canon;
}

.tableau_icon {
  display:inline-block;
  vertical-align:-3px;

  margin-left:1px;
  margin-right:2px;

  height: 16px;
  width:16px;
  background-image: url("/images/tableau_icon.png");
}
