#main_content {
    border: 1px solid $guts-border-color;
    @include border-radius(3px);
}

.content_header {
    background: white;
    min-height: 36px;
    padding: 12px $padding-x 5px;
    border-bottom: 1px solid $subheader-border-color;
    @include border-top-radius(3px);

    h1 {
        @include ellipsis;
        padding-top: 16px;
        padding-bottom: 7px;
        @include heading-normal;
    }

    .icon {
        padding-top: 6px;
        float: left;
        padding-right: 5px;
    }

    .menus {
        float: right;
        text-align : right;
        margin-top:25px;
        height: 25px;
        @include after-clearfix;
    }
}

.content_details, .content_footer {
    border-bottom: 1px solid $pagination-border-color;
}

.action_bar_highlighted {
  background-color: $content-details-action-background-color;
  padding: 3px 10px;

  color: $action-bar-highlighted-font-color;

  a { color: $action-bar-highlighted-font-color; }
}

.action_bar_secondary {
  padding: 3px 10px;
  border-top: 1px solid #B2C7D6;
  background-color: $content-details-info-bar-background-color;
}

.action_bar_limited {
  padding: 3px 10px;
  line-height: 2;
}

.content_footer {
    height: auto;
    border-bottom: none;
    border-top: 1px solid $pagination-border-color;
}

.tableau_icon {
  display:inline-block;
  vertical-align:-3px;

  margin-left:1px;
  margin-right:2px;

  height: 16px;
  width:16px;
  background-image: url("/images/tableau_icon.png");
}