#main_content {
    border: 1px solid $guts-border-color;
    @include border-radius(3px);
}

.content_header {
    background: white;
    min-height: 36px;
    padding: 12px $padding-x 5px;
    border-bottom: 1px solid $subheader-border-color;
    @include border-top-radius(3px);

    h1 {
        @include ellipsis;
        padding-top: 16px;
        padding-bottom: 7px;
        @include heading-normal;
    }

    .icon {
        padding-top: 6px;
        float: left;
        padding-right: 5px;
    }

    .menus {
        float: right;
        text-align : right;
        margin-top:25px;
        height: 25px;
        @include after-clearfix;
    }
}

.content_details, .content_footer {
    border-bottom: 1px solid $pagination-border-color;
    height: 32px;
    line-height: 32px;
    &.hidden {
        padding: 0;
        height: 0;
        border: none;
    }

    button, .button {
        color: $color-text2;
        @include content-details-button($border-color);
        margin: 1px 5px 2px 5px;
    }

    .action_bar {
        background-color: $content-details-action-background-color;
        height:  100%;
        padding: 0 $padding-x;
        line-height: 30px;
        vertical-align: middle;

        a { color: $color-text2; }
        button, .button {
            color: $content-details-action-link-color;
            @include content-details-button($content-details-action-link-border-color);
        }
    }
}

.content_footer {
    height: auto;
    border-bottom: none;
    border-top: 1px solid $pagination-border-color;
}

.tableau_icon {
  display:inline-block;
  vertical-align:-3px;

  margin-left:1px;
  margin-right:2px;

  height: 16px;
  width:16px;
  background-image: url("/images/tableau_icon.png");
}