.multiselect {
    a {
        @include link-with-dotted-underline;
    }

    .select {
        padding-right: 3px;
    }

    .separator {
        padding: 0 3px;
        color: $link-color;
    }
}
