@import "_common";
@import "compass/css3";

.page_sub_header {
    // height: subtract 1 to account for the border-bottom */
    height: $subheader-height - 1;
    // padding-top: $header-height; */
    margin-top: $header-height;

    color: $color-text3;
    background: $subheader-background-color;
    
    font-size:$page_header-fontsize;
    line-height: $subheader-height;
    
    border-bottom: $border-canon;
    
    /* first child within the subheader is the div > span that contains the subheader text */
    #page_sub_header_content {
        // .page_side_padding provides left and right 
        @include page_side_padding;
    }
    
    span#sub_header_pagetitle {
        display: inline-block;
        @include ellipsis;
        /* if it gets this long, thats about long enough in the header */
        width:93%;
    }
}