@import "compass/utilities/general/clearfix";

.project_list {
    .menus {
        float: none !important;
    }
    .dashboard_project_card {

        @media (max-width: 1430px) {
            width: 46%;
        }

        @media (min-width: 1431px) and (max-width: 1950px) {
            width: 31%;
        }

        @media (min-width: 1951px) {
            width: 23%;
        }

        position: relative;
        vertical-align: top;
        display: inline-block;
        margin: 5px 5px 5px 5px;
        border: lightgray 2px solid;

        li {
            display: block;
        }

        a.all_insights {
            display: block;
            margin-top: 4px;
        }

        .insight_zone {
            padding: 10px 10px 0 40px;
            background-color: white;
            height: 70px;
            .main_row {
                @include heading-normal;
            }
            .sub_row {
                @include font-normal-delta;
            }
        }

        .project_name {
            font-size: 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }

        .name_row {
            padding: 10px 10px 20px 20px;
            background-color: $subheader-background-color;
            border-bottom: lightgray 2px solid;
        }

        .data_row {
            .left_side {
                display: inline-block;
                padding-left: 30px;
                width: 230px;
            }
            .right_side {
                display: inline-block;
            }
            .number {
                @include heading-normal;
                color: $link-color;
            }
            .element {
                @include font-normal-delta;
            }
            padding: 10px 0 0 10px;

            &.last {
                border-bottom: lightgray 2px solid;
                padding-bottom: 15px;
            }
        }
    }
}
