@import "compass/utilities/general/clearfix";

$card-border-radius: 3px;

@mixin dashboardcard-heading {
    @include debugging-mixin;
    font-size: 16px;
    font-weight: $semibold;
}

.project_list {
    .menus {
        float: none !important;
    }
    
    .dashboard_project_list {
        margin-left: -10px;
    }
    
    .dashboard_project_card {

        @media (max-width: 1024px) {
            width: 308px
        }

        @media (min-width: 1025px) and (max-width: 1650px) {
            width: 23.7555%;
            min-width: 20%;
        }

        @media (min-width: 1651px) {
            width: 19.0%;
            min-width: 17%;
            max-width: 25%;
        }

        &:hover {
            .name_row {
                background-color: #AACCF5;
            }
            .metrics_row {
                background-color: #FBFAF7;
            }
            .insight_row {
                background-color: #FBFAF7;
            }
        }
      
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin: 0px 0px 10px 10px;
        border: lightgray 1px solid;
        -moz-border-radius: $card-border-radius;
        border-radius: $card-border-radius;
        
        li {
            display: block;
        }

        .name_row {
            padding: 10px 10px 13px 10px;
            background-color: $greyish-blue;
            border-bottom: lightgray 1px solid;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }

        .project_name {
            @include font-primary-link;
/*             font-size: 18px; */
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }

        .metrics_row {
            padding: 10px 10px 15px 10px;            
            border-bottom: lightgray 1px solid;
        }

        .data_row {
            .left_side {
                display: inline-block;
                width: 50%;
            }
            .right_side {
                display: inline-block;
            }
            .number {
                a {
                    @include dashboardcard-heading;
                }
            }
            .element {
                @include font-secondary-content;
                line-height: 14px;
                margin-bottom: 6px;
            }

            &.last {}
        }
        
        a.all_insights {
            display: block;
            margin-top: 4px;
        }

        .insight_row {
            padding: 10px 10px 15px 10px;
            color: $color-text2;
            .main_row {
                @include dashboardcard-heading;
            }
            .no_comments_or_anything {
                font-size: 14px;
                font-weight: normal;
                color: $color-text4;
            }
            .sub_row {
                @include secondary-text-small;
            }
            .has_recent_comments + .sub_row {
                color: $color-text2;
            }
        }
    }
}
