.project_list {
    .dashboard_project_card {
        @media (max-width: 1309px) {
            width: 47%;
        }

        @media (min-width: 1310px) and (max-width: 1641px) {
            width: 31%;
        }

        @media (min-width: 1642px) {
            width: 23%;
        }

        position: relative;
        vertical-align: top;
        display: inline-block;
        height: 275px;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        box-shadow: 2px 2px 7px 2px $subheader-border-color-dark;

        li {
            display: block;
        }

        a.all_insights {
            display: block;
            margin-top: 4px;
        }

        .insight_zone {
            background-color: white;
            height: 170px;
        }

        .activity {
            margin-top: 48px;
            border-top: 1px dotted black;
            .activity_item {
                margin-top: 10px;
            }
            .insight_ribbon {
                left: -17px;
                top: -19px;
            }
        }

        .space_filler {
            background-color: $shaded-background-color;
            width: 100%;
            height: 100%;
            text-align: center;
            display: table;

            .text {
                vertical-align: middle;
                display: table-cell;
            }
        }

        .project_name {
            font-size: 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }

        .name_row {
            display: inline;
        }



        .info_icon {
            display: inline;
            position: absolute;
            top: 8px;
            right: 12px;
            font-size: 15px;
        }

        .project_status > div {
            display: inline;
            &.facts { float: left; }
            &.milestones { float: right; }
        }
    }
}
