@import "_common.scss";

.picker {
  .label {
    width: 150px;
    @include font-menu;
    display: inline-block;
  }

  input {
    width: 50px;
    display: inline-block;
  }
}

.row {
  line-height: 34px;
  vertical-align: middle;
}