@import "common";
/*
 * @provides    variables
 * @desc        component configuration file
 *
 */


/* Typography */

$default-font-color: $dark-gray;
$default-font-size: 14px;
$font-family: "Source Sans Pro", Verdana;
$low-light-type: $gray;
$mid-light-type: #5f5f5f;

$action-bar-highlighted-font-color: $dark-green;

/* Link */

$default-link-color: $blue;
$low-light-link-color: $gray;

/* Lists */

$list-horizontal-divider: 1px solid $solitude;
$list-vertical-divider: 1px solid $solitude;
$list-selectable-hover-color: rgba(0,0,0,0.1);
$list-selectable-selected-color: white;
$list-breadcrumb-divider: "\f0da";
$list-breadcrumb-spacing: 5px;
$list-breadcrumb-size: 12px;
$list-border-color-highlighted: $green;


/* whitespace */

$baseLineHeight: 1.5em !default; //must be in em
$baseFontSize: 15px !default; // must be px

/*
 * em-ratio	converts between em and px
 * to em 	divide by this ratio
 * to px 	mulitply by this ratio
 */
$emRatio: $baseFontSize/$baseLineHeight;


$guttersH: 15px;
$guttersV: $baseLineHeight/2em*1rem; // set top and bottom margins to half the base line height so that the total takes up one row of vertical rhythm.
$spacingHelpers: ($emRatio*$baseLineHeight/3, $emRatio*$baseLineHeight/2, $emRatio*$baseLineHeight); //TODO: convert to px;

/* buttons */
$button-height : 26px;
$button-border-color: $solitude;
$button-background-color : white;

$button-border-color-highlighted: $green;

$button-border-color-secondary: $gray-blue;

$button-border-color-limited: #A0A0A0;

/* action bars */
$action-bar-highlighted-background-color: $light-green;
$action-bar-hovered-item-background-color: #C3ECA0;
$action-bar-secondary-background-color: $light-blue;
