
<div id="workspace_content_recentActivity_header">
    <div class="module_header">
        <div class="title">{{t "workspace.activity_recent"}}</div>
    </div>

    <div class="menus">
        <select class="activities_filter">
            <option value="all_activity">{{t "filter.all_activity"}}</option>
            <option value="only_insights">{{t "filter.only_insights"}}</option>
        </select>
    </div>
</div>


