<ul class="list_horizontal">
    <li>
        {{#if canOpen}}
        <a class="button button_action open_file" href="{{workFlowShowUrl}}">{{t "work_flows.show.open"}}</a>
        {{else}}
        <button class="invisible button_action"></button>
        {{/if}}
    </li>
    <li>
        <span class="execution_location">{{t "work_flows.show.execution_location" dataSourceName=dataSourceName databaseName=databaseName}}</span>
    </li>
    {{#if canUpdate}}<li>
        <a class="change_workfile_database" href="#">Change</a>
    </li>{{/if}}
</ul>