<form>
    <div class="girdle">
        <div class="input">
            <input type="password" name="password" maxlength="256" placeholder="{{t "users.password"}}" tabindex="1"
                   autocomplete="off"/>
            <input type="password" name="passwordConfirmation" maxlength="256"
                   placeholder="{{t "users.confirm_password"}}" tabindex="2" autocomplete="off"/>
        </div>
    </div>
    <!-- END girdle -->
    {{formControls "change_password.button.change_password" }}
</form>
