
    <div class="dialog_header"/>

    <div class="dialog_content"/>
        <form action="#">
        <div class="girdle" >
    
        {{> errorDiv}}

        </div>
        <!-- END girdle -->
    
        <div class="form_controls"/>
    
        </form>
    
    </div>