<form action="{{formUrl}}">
    <div class="girdle">
        <div class="toolbar"></div>
        <textarea class="required" name="body" placeholder="{{placeholder}}" tabindex="1">{{body}}</textarea>
    </div>
    {{formControls "actions.save_changes"}}
</form>
