

<div id="header"/>

<div class="error_box">
    <div class="title">{{title}}</div>
    <div class="content">
        <div class="text">{{text}}</div>
        {{#if message}}<div class="text">{{message}}</div>{{/if}}
    </div>
    <div class="controls">
        <button class="submit button_modalish">{{t "actions.home"}}</button>
    </div>
</div>
