<span class="spacer_left"/>

    {{#if isDir}}
        <span class="checkbox_placeholder"/>
    {{else}}
        <input type="checkbox"/>
    {{/if}}

<a class="image" href="{{url}}">
    <img src="{{iconUrl}}"/>
</a>

{{>listItemText}}

<span class="spacer_right"/>
