{{#if tags}}
<div class="item_tag_list">
    {{t "tag_list.title"}}:
    {{#each tags}}
      <a class="tag_name" href="{{this.showUrl ../workspaceIdForTagLink}}">{{this.name}}</a>
    {{/each}}
</div>
{{/if}}