<div class="job action_bar {{actionBarClass}}">
    {{#if canUpdate}}
        <button class="create_task button_action">{{t "actions.create_task"}}</button>
        <button class="toggle_enabled button_action">{{t enabledButtonLabel}}</button>
    {{/if}}
</div>