<div class="info">
    <div title="{{name}}" class="name">{{name}}</div>
</div>
{{#if canUpdate}}
    <div class="actions">
        <ul>
            <li><a href="#" class="edit_job_task dialog" href="#">{{t "job_task.action.edit"}}</a></li>
            <li><a href="#" class="delete_job_task dialog" href="#">{{t "job_task.action.delete"}}</a></li>
        </ul>
    </div>
{{/if}}
