<div class="info">
    <div title="{{name}}" class="name">{{name}}</div>
</div>

<div class="actions">
    <ul>
        <li><a href="#" class="delete_job_task dialog" href="#">{{t "job.actions.delete"}}</a></li>
    </ul>
</div>