<div class="info">
    <div title="{{name}}" class="name">{{name}}</div>
</div>

<div class="actions">
    <ul>
        <li><a class="delete_milestone dialog" href="#">{{t "milestone.actions.delete"}}</a></li>
    </ul>
</div>

<div class="tab_control"></div>