<div class="multiselect">
    <span class="select">{{t "actions.select"}}</span>
    <a href="#" class="select_all">{{t "actions.select_all"}}</a>
    <span class="separator">|</span>
    <a href="#" class="select_none">{{t "actions.select_none"}}</a>
</div>