<form>
    <div class="girdle">
        <input class="rename_tag_input" value="{{name}}"/>
    </div>
    <!-- END girdle -->    
    
    {{formControlsWithDisabledSubmit "rename_tag.button"}}
</form>
