<form>
    <div class="girdle">
        <input value="{{fileName}}" name="fileName" tabindex="1" maxlength="60" {{#isSql}}class="sql"{{/isSql}}/>
        {{#isSql}}.sql{{/isSql}}
    </div>
    <!-- END girdle -->
    
    {{formControls "workfile.rename_dialog.submit"}}
</form>