<fieldset>
    <form>
        <div class="data_source_mode"></div>
        <div class="standalone_mode hidden"></div>
    </form>
</fieldset>
<div class="plm"><input class="show_sandbox_datasets" type="checkbox" checked="checked"/> <label>{{t "actions.sandbox.show_sandbox_datasets_by_default"}}</label></div>
<div class="form_controls">
    <label class="required"/><label>{{t "validation.required_field"}}</label>
    {{formControlsWithDisabledSubmit "sandbox.create_sandbox"}}
</div>
