<h2>{{ subtitle }}</h2>

<div class="schema_picker"/>

<div class="modal_controls">
    <button type="button" class="cancel" tabindex=4>{{t "actions.cancel"}}</button>
    <button type="submit" class="submit" tabindex=3 disabled="true">{{ save }}</button>
</div>
