<div class="dialog_content">
    {{t "users.show_api_key_dialog.content"}}
</div>

<div class="display_box">
    {{apiKey}}
</div>

<div class="modal_controls">
  <button type="button" class="cancel" tabindex=4>{{t "actions.close_window"}}</button>
</div>