<p>Font Mixins</p>


<p class="heading_normal">This is the heading-normal mixin</p>
<p class="heading_sidebar">This is the heading-sidebar mixin</p>
<p class="list_section_heading">This is the list-section-heading mixin</p>

<p class="dialog_label">This is the dialog-label mixin</p>
<p class="font_normal_alpha">This is the font-normal-alpha mixin</p>
<p class="font_normal_beta">This is the font-normal-beta mixin</p>
<p class="font_normal_small">This is the font-normal-small mixin</p>

<p class="font_content_details">This is the font-content-details mixin</p>
<p class="secondary_text_normal">This is the secondary-text-normal mixin</p>
<p class="secondary_text_small">This is the secondary-text-small mixin</p>