<ul>
    {{#keyValue colors}}
        <li class="color-swatch-item">
            <div class="color-swatch" style="background-color:{{value}}"></div>
            <span class="color-swatch-name">{{key}}</span>
        </li>
    {{/keyValue}}
</ul>
