<div class='tabs_container'>
    <ul class='tabs'>
        <img class='divider' src='/images/sidebar_tab_separator.png'>
        {{#each tabKeys}}<li data-name="{{name}}">{{text}}</li><img class='divider' src='/images/sidebar_tab_separator.png'>{{/each}}
    </ul>
</div>

<div class="tabbed_area"/>
