{{#if models}}
   {{#each models}}
      <li data-id="{{id}}" class="tag_list_item">
          <span class="spacer_left"></span>
          <div><a href="">{{this.name}}</a></div>
          <span class="spacer_right"></span>
       </li>
   {{/each}}
{{else}}
    <div class="no_tags">{{t "tags.none"}}</div>
{{/if}}