<form action="/workspace/" class="new_workspace">
    <input type="text" name="name" placeholder="Name this workspace" tabindex="1" maxlength="256"></input>
    <input type="checkbox" name="public" id="public" checked="checked" tabindex=2></input><label for="public">{{t "workspaces.make_public"}}</label>
    {{formControlsWithDisabledSubmit "workspaces.button.create"}}
</form>

