{{#if canUpdate}}
    <button class="add_data button_action">{{t "actions.add_data"}}<span class="down_arrow"></span></button>
{{/if}}
<div class="hidden">
    <div class="add_data_menu">
        <ul class="run_menu">
            {{#each createActions}}
                <li>
                    <a href="#" class="{{className}}">{{text}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>