{{#if canUpdate}}
<button class="import_workfile button_action_primary">{{t "actions.import_workfile"}}</button>
<button class="new_workfile button_action_primary">{{t "actions.create_sql_workfile"}}</button>
{{/if}}