<!-- workspace_summary_content_header -->
<div class="title">
    {{#if iconUrl}}
        <img class="icon" src="{{iconUrl}}" alt="" />
    {{/if}}
    <div class="item_information">
        <div class="workspace_title" title="{{title}}">{{title}}</div>
        {{#if tagBox}}
             <div class="tag_box"></div>
        {{/if}}
    </div>
</div>
<!-- /workspace_summary_content_header -->