<!-- workspace_show -->
<div class="workspace_summary_content">
    <h2>workspace show > summary content</h2>
    
<!--     <div> -->
        <div class="truncated_summary"></div>
        <div class="project_status"></div>
<!--     </div> -->

</div>

<div class="activity_list_header"></div>
<div class="activity_list"></div>