<form>
    <div class="girdle">
        <textarea name="commitMessage" placeholder="{{t "workfile.new_version_dialog.commmit_message"}}" maxlength="256"
                  tabindex="1" maxlength="256">{{body}}</textarea>
    </div>
    {{formControls "workfile.new_version_dialog.button.save"}}
</form>