<div id="">
    workspace show
</div>

<div class="workspace_summary_content">
    <h2>workspace summary content</h2>
</div>

<div class="activity_list_header"></div>
<div class="activity_list"></div>