<div class="save">
    <span class="auto_save hidden"></span>
    <span class="view">
        <button class="save_as">{{t "workfile.content_details.save_as"}}<span class="down_arrow"/></button>
    </span>
</div>
