<form action="/workspace/" class="new_workspace">
    <div class="girdle">
        <input type="text" name="name" placeholder="Name this workspace" tabindex="1" maxlength="256"/>
        <label><input type="checkbox" name="public" tabindex=2/>{{t "workspaces.make_public"}}</label>
    </div>
    {{formControlsWithDisabledSubmit "workspaces.button.create"}}
</form>