<div class="workspace_summary_content" id="workspace_summary_content">

<!-- 
    <div class="title">
    {{#if iconUrl}}
        <img src="{{iconUrl}}" alt="" />
    {{/if}}
    <div class="item_information">
        <div class="workspace_title" title="{{title}}">{{title}}</div>
        {{#if tagBox}}
             <div class="tag_box"></div>
        {{/if}}
    </div>
    </div>
 -->
 
    <div class="truncated_summary"></div>
    <div class="project_status" id="project_status"></div>
</div>
