<form action="">
    <div class="girdle">
        <input type="text" name="fileName" placeholder="Name" tabindex="1" maxlength="60" class="sql"></input>.sql
    </div>
    <!-- END girdle -->
    
    {{formControlsWithDisabledSubmit "workfiles.button.sql_create"}}

</form>