<div class="workspace_summary_content" id="workspace_summary_content">

    <div class="truncated_summary"></div>
    <div class="project_status" id="project_status"></div>
    
    <div class="workspace_snapshot"></div>
</div>
