<div class="line">
    <div class="col col-ext">
        <div class="save">
            <span class="auto_save hidden"></span>
            <span class="view">
                <button class="save_as button_action_highlighted">{{t "workfile.content_details.save_as"}}<span class="down_arrow"/></button>
            </span>
        </div>

    </div>
</div>

