<form>
    <input type="text" name="fileName" placeholder="Name" tabindex="1" maxlength="60"></input>

    {{#if userWillPickSchema}}
        {{infoBlock "work_flows.new_dialog.info"}}
        <div class="database_picker"></div>
    {{/if}}

    {{formControlsWithDisabledSubmit "work_flows.new_dialog.add_work_flow"}}
</form>