// Do not put any css rules into this file.  This file is only for declaration of variables and mixins
//

// Colors
/* basic color rules - DO NOT use these in component files, they should only be used in config sections! */
$light-green: #B3D988;
$light-blue: #c4dceb;
$blue: #2c95dd;
$green: #98B675;
$dark-green: #4E7225;
$gray-blue: #B2C7D6;
$gray: #7D7D7D;


// Brand Colors
$pacific-blue: rgb(0, 160, 229);
$alice-blue: rgb(234, 245, 254);
$bright-turquoise: rgb(21, 214, 203);

$bright-gray: rgb(88, 89, 95);

$brand: $pacific-blue;
$light-gray: lighten(desaturate($brand, 90%), 45%);;
$charcoal: #464646;
// Tints & Shades of Brand Colors

$brand-light: lighten($brand, 14%);
$brand-tint: lighten($brand, 7%);

$brand-shade: darken($brand, 7%);
$brand-dark: darken($brand, 14%);


// Background colors
$list-hover-color: $alice-blue;
$list-checked-color: darken($alice-blue, 5%);
$body-background-color: white;
$shaded-background-color: $light-gray;


// Border colors
$border-color: $light-gray;
$border-color-dark: darken($border-color, 5%);

// Text colors
$color-text1: darken($charcoal, 10%);
$color-text2: $charcoal;
$color-text3: lighten($charcoal, 10%);
$color-text4: lighten($bright-gray, 20%);

// Font weights
$semibold: 600;
// "normal" defaults to 400

///////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* applied color rules - USE these in component files! */
// Background colors
$dialog-background-color: white;
$data-grid-background-color: #EAEEF2;
$progress-bar-background-color : #D8DEE6;
$selected-row-hover-background-color: #DCE2E8;
$ie-header-color: #c7c7c7;
$tab-gradient-color : #D5E0EB;
$activity-stream-comment-background-color: #DFE5EB;
$progress-bar-full-background-color : #AE0020;
$error-background-color: #B61B1D;
$alert-background-color: #B5121B;
$search-highlight-color: #FFFF00;
$content-details-create-background-color: #49A942;
$content-details-chart-icon-selected-background-color: #42AA3D;
$content-details-action-background-color: #B3D988;
$content-details-chart-icon-hover-background-color: #C3ECA0;
$picklist-selected-background-color: #3795DD;
$chart-fill-color: #4A83C3;
$dataset-number-background-color: #788DA5;

// Border colors
$border-color: $light-gray;
$border-color-dark: darken($border-color, 5%);
$guts-border-color: #CCD2D7;
$pagination-border-color: #A4A6A8;
$menu-border-color: #B0B0B0;
$header-border-color: #8A97A2;
$list-border-color: #B9BBBD;
$content-details-action-link-border-color: #98B675;
$results-console-border-color: #88A8D3;
$type-ahead-result-border-color: #A5A6A8;

// Text colors
$error-text-color: white;
$error-color: white;
$needs-attention-color: #f7771b;
$link-color: #2c95dd;
$content-header-link-color: $color-text4;
$content-details-action-link-color: #4E7225;
$content-details-create-bar-link-color: #608437;

// Notification colors
$notification-error-dark: #d43a0b;
$notification-error-light: #ffd6d6;
$notification: $bright-turquoise;

$dotted-list-item-border: 1px dotted $border-color;

// Dimensions
$sidebar-width : 266px;
$sidebar-padding-x : 16px;
$sidebar-padding-top : 40px;
$page-min-width : 1024px;
$padding-x : 10px;
$padding-y : 8px;
$margin-x : 10px;
$guts-padding: 7px;
$guts-padding-bottom: 15px;
$user-detail-image-width: 150px;
$header-height : 50px;
$icon-image-width : 35px;
$icon-image-height : 35px;
$large-image-width : 45px;
$large-image-height : 45px;
$activity-gutter: 15px;
$dialog-padding : 15px;
$breadcrumbs-height: 32px;
$help-pill-width: 34px;
$texteditor-min-height: 300px;
$default-dialog-width: 500px;

// z-indices
$guts-z-index: 0;
$link-menu-z-index: $guts-z-index + 1;
$editor-top-z-index: 10;

$data-grid-column-header-z-index: 2;
$data-grid-body-z-index: 20;
$data-grid-head-z-index: $data-grid-body-z-index + 1;

$header-z-index: 15000;
$menu-z-index: $header-z-index + 1;

$dialog-overlay-z-index: $menu-z-index + 1;
$dialog-z-index: $dialog-overlay-z-index + 1;

$tooltip-z-index: $dialog-z-index + 1;

$toast-closing-z-index: $tooltip-z-index + 1;
$toast-z-index: $toast-closing-z-index + 1;
$hidden-z-index: -100;
$select-menu-z-index: 1000000;
$drag-z-index: 9999;

// Font size
$medium-font: 14px;
$summary-font-size: $medium-font;
$summary-line-height: 19px;

// Mixins

// Un-comment these lines to find text that isn't styled with a mixin
// * { text-shadow: red 0 0 2px !important; }
@mixin debugging-mixin {
    // text-shadow: none !important;
}

@mixin placeholder {
  @include debugging-mixin;
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin heading-normal {
    @include debugging-mixin;
    font-size: 24px;
    font-weight: $semibold;
    color: black;
}

@mixin heading-sidebar {
    @include debugging-mixin;
    @include ellipsis;
    font-size: 18px;
    line-height: 24px;
    font-weight: $semibold;
    color: $color-text1;
}

@mixin dialog-label {
    @include debugging-mixin;
    font-size: 13px;
    font-weight: normal;
    color: $color-text2;
}

@mixin font-normal-alpha {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: normal;
    color: $color-text2;
}

@mixin font-normal-beta {
    @include debugging-mixin;
    font-size: 13px;
    font-weight: normal;
    color: black;
}

@mixin font-normal-delta {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: normal;
    color: black;
}

@mixin font-content-details {
    @include debugging-mixin;
    font-size: 12px;
    font-weight: $semibold;
    color: $color-text2;
}

@mixin font-menu {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    vertical-align: middle;
    color: $color-text1;
}

@mixin results-console {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: $semibold;
    color: $color-text1;
}

@mixin list-section-heading {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: $semibold;
    color: $color-text2;
}

@mixin list-item-details-area {
    @include debugging-mixin;
    font-size: 14px;
    color: $color-text3;
}

@mixin database-column-type {
    @include debugging-mixin;
    font-size: 11px;
    font-weight: $semibold;
    color: white;
}

@mixin secondary-text-normal {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: normal;
    color: $color-text3;
}

@mixin secondary-text-semibold {
    @include debugging-mixin;
    font-size: 14px;
    font-weight: $semibold;
    color: $color-text3;
}

@mixin secondary-text-small {
    @include debugging-mixin;
    font-size: 12px;
    font-weight: normal;
    color: $color-text4;
}

@mixin secondary-text-small-semibold {
    @include debugging-mixin;
    font-size: 12px;
    font-weight: $semibold;
    color: $color-text3;
}

@mixin summary-text {
    @include debugging-mixin;
    font-size: $summary-font-size;
    line-height: $summary-line-height;
}

@mixin after-clearfix($which: both) {
    &:after {
            content: ".";
            display: block;
            height: 0;
            font-size: 0;
            clear: $which;
            visibility: hidden;
        }
}

@mixin borderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
};

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin not-ellipsis {
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

@mixin tab-gradient {
    @include background-image(linear-gradient($body-background-color, $tab-gradient-color));
}

@mixin menu-triangle {
    padding-right: 10px;
    background-image: url("/images/blue-menu-triangle.png");
    background-position: right;
    background-repeat: no-repeat;
}

@mixin triangle($pointing_direction, $color, $width, $height) {
    width: 0;
   	height: 0;
	@if $pointing_direction == up {
		border-bottom: $height solid $color;
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
	} @else if $pointing_direction == down {
		border-top: $height solid $color;
		border-left: $width/2 solid transparent;
		border-right: $width/2 solid transparent;
	} @else if $pointing_direction == right {
		border-left: $width solid $color;
		border-top: $height/2 solid transparent;
		border-bottom: $height/2 solid transparent;
	} @else if $pointing_direction == left {
		border-right: $width solid $color;
		border-top: $height/2 solid transparent;
		border-bottom: $height/2 solid transparent;
	}
}

@mixin grab_cursor {
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

// Do not put any css rules into this file.  This file is only for declaration of variables and mixins
//
