@import "_common";

.about_box {
    font-size: 12px;
    line-height: 16px;

    position: relative;
    top: 60px;

    border: $border-canon;

    width: 425px;
    margin-left: auto;
    margin-right: auto;

    .title {
        background-color: $dialog-header-background;
        padding: 20px;
    }

    .content{
        .text {
            padding: 10px;
        }
    }
}
