@import "_common";

.about_box {
    font-size: 14px;
    position: relative;
    top: 100px;

    border: $border-canon;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    .title {
        background-color: $dialog-header-background;
        padding: 20px;
        font-weight: normal;
    }

    .content{
        .text {
            padding: 10px;
        }
        .items li {
            // special case for the about screen
            padding-left: 20px;
        }
        .about_item {
            float: right;
            margin-right: 10px;
        }
    }
}
