@import "_common";
@import "compass/css3/border-radius";

div[data-page="Dashboard"], div[data-page="UserDashboardEdit"] {
    #guts {
        padding: ($header-height + $subheader-height) 25px 10px 25px;
    }

    #sidebar_wrapper {
        display: none;
    }

    #left {
        margin: 0;
    }

    #main_content {
        border: none;
        @include after-clearfix();
    }
}

.dashboard_module {
    $dashboard-module-title-height: 35px;
    $dashboard-module-padding: 10px;
    $title-height: $dashboard-module-title-height - $dashboard-module-padding;

    padding: $dashboard-module-padding;
    margin-top: 20px;
    border: $border-canon;
    @include border-radius(3px);
    border-top-color: $border-color-dark;

    .title {
        display: inline-block;
        @include dashboard-module-title;
        height: $title-height;
        line-height: $title-height;
    }

    .activity_list {
        max-height: 450px;
        overflow-y: scroll;
    }

    &.dashboard_site_snapshot {
        ul {
            text-align: center;
            padding-bottom: 10px;

            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child { margin-right: 0; }

                .square {
                    width: 220px;
                    height: 160px;

                    .total {
                        padding-top: 20px;
                        @include dashboard-huge;
                    }

                    .model {
                        @include dashboard-snapshot-model;
                        padding-bottom: 25px;
                    }

                    .increment {
                        @include secondary-text-small;
                    }

                    $amber: rgb(242, 171, 13);
                    $green: rgb(86, 174, 0);
                    $blue: rgb(0, 144, 240);
                    $purple: rgb(158, 27, 116);

                    &.workspace .total { color: $amber; }
                    &.associated_dataset .total { color: $green; }
                    &.workfile .total { color: $blue; }
                    &.user .total { color: $purple; }
                }
            }
        }
    }

    &.dashboard_workspace_activity {
        .chart {
            text-align: center;

            .axis path, .axis line {
                fill: none;
                stroke: $charcoal;
                shape-rendering: crispEdges;
            }
        }
    }

    .module_header {
        @include toggle-menus;
        height: $title-height;
        line-height: $title-height;
    }
}

.dashboard_sub_header {
    .right {
        float: right;
        .button {
            background-color: $shaded-background-color;
            display: inline-block;

            $size: 28px;
            @include panel-button($size);
            width: $size;

            i {
                color: $color-text3;
                font-size: 14px;
            }
        }
    }
}

.tooltip {
    width: 350px;
    li.comment {
        .insight_ribbon {
            top: -18px;
        }
        .object {
            display: inline;
        }
    }
}
