@import "_common";
@import "compass/css3/border-radius";

div[data-page="Dashboard"], div[data-page="UserDashboardEdit"] {
    #guts {
        padding: ($header-height + $subheader-height) 25px 10px 25px;
    }

    #sidebar_wrapper {
        display: none;
    }

    #left {
        margin: 0;
    }

    #main_content {
        border: none;
        @include after-clearfix();
    }
}

.hovercard {
  width: 300px !important;
  max-width: 300px !important;
  min-height: 110px !important;

  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #cccccc;

  box-shadow: 2px 2px 2px 0px rgba(51, 52, 55, 0.25);
  -moz-box-shadow: 2px 2px 2px 0px rgba(51, 52, 55, 0.25);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(51, 52, 55, 0.25);

  .ui-tooltip-titlebar {
    a {
      font-size: 18px;
      font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    }
    text-align: left;
    background-color: #ffffff;
    border: 0;
    padding: 18px 20px 0 20px;

    .ui-tooltip-icon {
      border: 0;
      background: #ffffff;
      right: 5px;
      top: 10px;

      .ui-icon-close {
        width: 15px;
        height: 15px;
        font: normal 15px sans-serif;
      }
    }
  }

  .ui-tooltip-content {
    $footer-height: 35px;

    padding: 5px 20px 20px 20px;
    
/*     font-size: 12px; */
/*     font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif; */
/*     font-weight: lighter; */
/*     color: #555555; */
    background-color: #FFFFFF;
    

    border: 0;
    height: 100%;
    padding-bottom: $footer-height + 5px;
    min-height: 35px;

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: $footer-height;
        width: 100%;
        background: #F0F7FE;
        vertical-align: middle;
        padding-left: 20px;
        /*       font-weight: bold; */
    }
  }
}

.dashboard_module {
    $dashboard-module-title-height: 35px;
    $dashboard-module-padding: 10px;
    $title-height: $dashboard-module-title-height - $dashboard-module-padding;

    padding: $dashboard-module-padding;
    margin-top: 20px;
    border: $border-canon;
    @include border-radius(3px);
    border-top-color: $border-color-dark;

    .title {
        display: inline-block;
        @include dashboard-module-title;
        height: $title-height;
        line-height: $title-height;
    }

    .activity_list {
        max-height: 450px;
        overflow-y: scroll;
    }

    &.dashboard_site_snapshot {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child { margin-right: 0; }

                .square {
                    width: 220px;
                    height: 160px;

                    .total {
                        padding-top: 15px;
                        @include dashboard-huge;
                    }

                    .model {
                        @include dashboard-snapshot-model;
                        padding-bottom: 25px;
                    }

                    .increment {
                        @include secondary-text-small;
                    }

                    $amber: rgb(242, 171, 13);
                    $green: rgb(86, 174, 0);
                    $blue: rgb(0, 144, 240);
                    $purple: rgb(158, 27, 116);

                    &.workspace .total { color: $amber; }
                    &.associated_dataset .total { color: $green; }
                    &.workfile .total { color: $blue; }
                    &.user .total { color: $purple; }
                }
            }
        }
    }

    &.dashboard_workspace_activity {
        .chart {
            text-align: center;

            .axis path, .axis line {
                fill: none;
                stroke: $charcoal;
                shape-rendering: crispEdges;
            }
        }
    }

    &.dashboard_recent_workfiles {
        #recent_workfiles_main_content {
            min-height: 140px;

            ul li {
                div {
                    display: inline-block;
                    div {
                        display: block;
                    }
                }

                .file_name {
                    padding: 3px 0 0 10px;
                    width: 350px;
                }

                .workfile_link {
                    @include font-primary-link;
                    max-width: 100%;
                    padding: 0 0 3px 0;
                }

                .workspace_image {
                    vertical-align: bottom;
                    width: 20px;
                    padding-right: 10px;
                }

                .workspace_link {
                    @include font-secondary-link;
                }

                .time_edited {
                    float: right;
                    padding-right: 200px;
                    vertical-align: top;
                    padding-top: 15px;
                    @include secondary-text-small;
                }
            }
        }

        #recent_workfiles_configuration {
            display:none;

            .mask {
                position: absolute;
                top: -10px;
                left: -10px;
                background-color: rgba(0,0,0,.75);
                padding-bottom: 2px;
                padding-right: 20px;
                width: 100%;
            }

            .config_content {
                background-color: white;
                margin: 10px;
                padding: 10px;
            }

            .button_row {
                padding-top: 15px;
            }
        }
    }

    .module_header {
        min-height: $title-height;
        line-height: $title-height;

        &.activity_list_header {
            .menus {
                float: none;
                padding-top: 5px;
            }
        }
    }
}

.module_sub_header {
    padding-bottom: 7px;
}

.dashboard_sub_header, .dashboard_module {
    .right {
        float: right;
        .button {
            background-color: $shaded-background-color;
            display: inline-block;
            cursor: pointer;

            i {
                color: $color-text3;
                font-size: 14px;
            }
        }

        .configure {
            $height: 28px;
            width: 40px;
            @include panel-button($height);
        }

        .clear_list {
            width: 80px;
            @include panel-button(28px);
        }
    }
}

.tooltip {
    width: 350px;
    li.comment {
        .insight_ribbon {
            top: -18px;
        }
        .object {
            display: inline;
        }
    }
}
