@import "_common";
@import "components/_button";
@import "compass/css3/border-radius";

/* height of buttons used for dashboard widget shell */
/* e.g. configure button */
$height-button-widgetshell: 25px;


div[data-page="Dashboard"], div[data-page="UserDashboardEdit"] {
    #guts {
        padding: ($header-height + $subheader-height) $page-margin-right 10px $page-margin-left;
    }

    #sidebar_wrapper {
        display: none;
    }

    #left {
        margin: 0;
    }

    #main_content {
        border: none;
        @include after-clearfix();
    }
}

.dashboard_module {
    $dashboard-module-title-height: 35px;
    $dashboard-module-padding: 10px;
    $title-height: $dashboard-module-title-height - $dashboard-module-padding;

    padding: $dashboard-module-padding;
    margin-top: 20px;
    border: $border-canon;
    @include border-radius(3px);
    border-top-color: $border-color-dark;

    .title {
        display: inline-block;
        @include dashboard-module-title;
        height: $title-height;
        line-height: $title-height;
    }

    .activity_list {
        max-height: 450px;
        overflow-y: scroll;
    }

    .no_activity {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #595959;
        font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14pt;
        font-weight: regular;
        line-height: normal;
        letter-spacing: normal;
    }

    .text_tip {
        padding: 15px 10px 20px 10px;
        min-height: 60px;
        border: none;
        border-radius: 3px;
        background-color: #F0F0E9;
        color: #595959;
        font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
        font-size: 12pt;
        font-weight: regular;
        line-height: normal;
        letter-spacing: normal;
    }

/* ****** */
/* widget: site snapshot */

    &.dashboard_site_snapshot {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child { margin-right: 0; }

                .square {
                    width: 220px;
                    height: 160px;

                    .total {
                        padding-top: 15px;
                        @include dashboard-huge;
                    }

                    .model {
                        @include dashboard-snapshot-model;
                        padding-bottom: 25px;
                    }

                    .increment {
                        @include secondary-text-small;
                    }

                    $amber: rgb(242, 171, 13);
                    $green: rgb(86, 174, 0);
                    $blue: rgb(0, 144, 240);
                    $purple: rgb(158, 27, 116);

                    &.workspace .total { color: $amber; }
                    &.associated_dataset .total { color: $green; }
                    &.workfile .total { color: $blue; }
                    &.user .total { color: $purple; }
                }
            }
        }
    }

/* ****** */
/* widget: workspace activity chart */

    &.dashboard_workspace_activity {
        .chart {
            text-align: center;

            .axis path, .axis line {
                fill: none;
                stroke: $charcoal;
                shape-rendering: crispEdges;
            }
        }
    }

/* ****** */
/* widget: recent workfiles */

    &.dashboard_recent_workfiles {
        #recent_workfiles_main_content {
            min-height: 140px;

            ul li {
                div {
                    display: inline-block;
                    div {
                        display: block;
                    }
                }

                .file_name {
                    padding: 3px 0 0 10px;
                    width: 350px;
                }

                .workfile_link {
                    @include font-primary-link;
                    max-width: 100%;
                    padding: 0 0 3px 0;
                }

                .workspace_image {
                    vertical-align: bottom;
                    width: 20px;
                    padding-right: 10px;
                }

                .workspace_link {
                    @include font-secondary-link;
                }

                .time_edited {
                    float: right;
                    padding-right: 200px;
                    vertical-align: top;
                    padding-top: 15px;
                    @include secondary-text-small;
                }
            }
        }

        #recent_workfiles_configuration {
            display:none;

            .mask {
                position: absolute;
                top: -10px;
                left: -10px;
                background-color: rgba(0,0,0,.75);
                padding-bottom: 2px;
                padding-right: 20px;
                width: 100%;
            }

            .config_content {
                background-color: white;
                margin: 10px;
                padding: 10px;
            }

            .button_row {
                padding-top: 15px;
            }
        }
    }

    .module_header {
        min-height: $title-height;
        line-height: $title-height;

        &.activity_list_header {
            .menus {
                float: none;
                padding-top: 5px;
            }
        }
    }
}

.module_sub_header {
    padding-bottom: 7px;
}

.dashboard_sub_header, .dashboard_module {
    .right {
        float: right;
        .button {
            background-color: $shaded-background-color;
            display: inline-block;
            cursor: pointer;

            i {
                color: $color-text3;
                font-size: 13px;
            }
        }

        .configure {
            width: 40px;
            @include panel-button($height-button-widgetshell);
        }

        .clear_list {
            width: 80px;
            @include panel-button($height-button-widgetshell);
        }
    }
}

/* rules for the recent activity hovering list that is part of the workspace cards */
.tooltip {
        
    li.comment {
        .insight_ribbon {
            top: -18px;
        }
        .object {
            display: inline;
        }
    }
}

/* workspace chart: card of workspace details that displays on hover */
$padding-side-canon: 10px;
$padding-top-canon: 10px;
$padding-bottom-canon: 10px;
  
.hovercard {
    width: 300px;
    box-shadow: $shadow-canon;
    
	p {
		margin: 0;
	}

	.ui-tooltip-content {
		/* override defaults */
		padding: 0;
    	background-color: #FFFFFF;
    	border-radius: 3px;
         
        .name_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;
			background-color: $greyish-blue;

            a {
                @include font-primary-link;
                line-height: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;           
            }
        }
        
        .summary_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;        
        }

        .activity_metric_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon + 5 $padding-side-canon;
            border-top: 2px dotted $border-color-darkest;
            @include font-normal-gamma;
        }
	}
}