@import "_common";

/* used for the 404-like errors in the app */
/* goes with error.hbs */

.error_box {
   
    position: relative;
    top: 140px;

    border: $border-canon;
    
    width: $default-dialog-width;
    
    margin-left: auto;
    margin-right: auto;

    .title {
        padding: 10px;
        background-color: $error-background-color;
        color: $error-color;
    }

    .content{
        .text {
            padding: 10px;
        }
    }

    .controls {
        padding: 25px;

        button {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-size: 12px;
            font-weight: $semibold;
        }
    }

}
