@import "_common";
@import "compass/css3/border-radius";

@import "workspaces/_new_workspace";
@import "workspaces/_workspace_list";
@import "workspaces/_edit_workspace_dialog";
@import "workspaces/_edit_project_status_dialog";
@import "workspaces/_workspace_show";
@import "workspaces/_workspace_sidebar";
@import "widgets/quickstart";
@import "workspaces/_workspace_summary_content_header";

.page_sub_header {
    position: fixed;
    height: $subheader-height;
/*     line-height: $subheader-height; */
/*     padding-top: $header-height; */
    margin-top: $header-height;
    background: $subheader-background-color;
    border-bottom: $border-canon;


    > :first-child {
        margin-left: $page-margin-left;
        margin-right: $page-margin-left;
    }
    
    .subheader_title {
		position: absolute;
		top: 18px;
		
		@include subheading-normal;
    }

    .subheader_breadcrumbs {
		position: absolute;
		top: 4px;
		
		@include subheading-normal;
		font-size: 11px;
    }
        
}
