@mixin profile_image {
    background: #FFFFFF;
    padding: 2px;
    border: $border-canon;
}

img.profile {
    @include profile_image;
    border-radius: 5px;
}

.icon img.profile,
img.profile.icon {
    max-width: $icon-image-width - 3;
    max-height: $icon-image-height - 3;
}