<ul>
    {{#each dataItems}}
        <li>
            <div class="square {{model}}">
                <div class="total">{{total}}</div>
                <div class="model">{{t translation}}</div>
                <div class="change">{{increment}}</div>
            </div>
        </li>
    {{/each}}
</ul>
