<div>
    <span>{{name}}</span>
    <div class="right">
        <a href="{{editUrl}}" class="container">
            <div class="button configure">
                <i class="oi" data-glyph="cog"></i>
            </div>
        </a>
    </div>
</div>

