<div>
    <span id="sub_header_pagetitle">{{name}}</span>
    <div class="right">
        <a href="{{editUrl}}" class="container">
            <div class="button configure" title="{{t 'dashboard.page.configure.button.tip'}}">
                <i class="oi" data-glyph="cog"></i>
            </div>
        </a>
    </div>
</div>