<div id="page_sub_header_content">
    <span id="sub_header_pagetitle">{{name}}</span>
    <div class="right">
        <a href="{{editUrl}}" class="container">
            <div class="button configure" title="{{t 'dashboard.page.configure.button.tip'}}">
                    <span class="fa fa-cog"></span>
            </div>
        </a>
    </div>
</div>