.schema_picker {
  $inner-width: $default-dialog-width - 65px;
    a {
        font-size: 13px;
    }

    select {
        display: block;
        width: $inner-width;
    }

    .data_source .header_container {
        margin-top: 0;
    }

    .header_container {
        margin-top: 15px;
        margin-bottom: 3px;

        a {
            float: right;
            margin-top: 8px;
        }
    }

    .unavailable {
        @include font-normal-beta;
    }

    .create_container {
        a.cancel {
            display: none;
        }

        &.show_cancel_link {

            a.cancel {
                display: inline;
                float: right;
                line-height: 28px;
            }
        }
    }
}