input.chorus_search {
    @include border-radius(5px);
    padding: 2px 20px 2px 26px;
    background: url("/images/search-icon.png") no-repeat 5px 4px;
    outline: none;
    background-color: #FBFBFB;
    border-color: $border-color;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
}

.chorus_search_container {
    position: relative;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

a.chorus_search_clear {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    line-height: 12px;
    i {
        font-size: 9px;
        color: $disabled-text;
    }
}
