.slick-header-columns {
  background: none;
}

.slick-header-column {
  background: none;
}

.slick-header-column:hover, .slick-header-column-active {
  background: white;
}

.slick-group-toggle.expanded {
  background: none;
}

.slick-group-toggle.collapsed {
  background: none;
}