$tab_control-lozenge-min-width: 40px;
$tab_control-lozenge-height: 21px;

.primary_action_panel {
    .panel {
        @include sidebar-panel;
        @include font-action-link;
    }
}

.tab_control {
    @include sidebar-panel;
    .tabs {
        $pill-padding: 0px;

        text-align: center;
        padding: 0 $pill-padding;
        border-bottom: $border-canon;
        height: 40px;
        line-height: 40px;

        background: $accent;
        .tab {
            display: inline;
            padding: 0 $pill-padding;
            cursor: pointer;
            @include pill-tab($tab_control-lozenge-min-width, $tab_control-lozenge-height);
        }
    }
}