.taggable_header {
    .icon {
        max-height: 45px;
        max-width: 45px;
        float: left;
    }

    h1 {
        padding: 6px 0 5px;
    }

    .item_information {
        margin-left: 55px;
        margin-right: 5px;
    }
}