.workspace_association {
  display: inline-block;
  margin-right: 25px;
}

.item_metadata {
  line-height: 21px;
  
  @include font-secondary-content;

  a {
    @include font-secondary-link;
    @include ellipsis;
    max-width: 80%;
  }

  .open_other_menu {
    @include menu-triangle;
  }

  .other_menu {
    display: none;
  }
}

.found_in_other_workspaces_menu {
    li {
        line-height: 18px;
    }
}