.dataset_preview.dialog {
    &.dialog {
        .dialog_content {
            padding: 0;
        }

        h1 {
            @include ellipsis;
        }
    }

    .modal_controls {
        margin-right: $dialog-padding;
        padding-bottom: 10px;
    }

    .results_console {
        border-bottom: 1px solid $list-border-color;

        .execution {
            h1.title {
                display: none;
            }
        }

        .bottom_gutter {
            display: none;
        }

    }
}