@import "_browser_support";
@import "compass/css3/transform";

.dataset_show {
    .content_header {
        .has_import {
            h1 {
                padding-top: 0;
                padding-bottom: 5px;
            }
        }

        .icon {
            max-height: 45px;
            max-width: 45px;
        }

        h1 {
            padding: 6px 0 5px;
        }
    }

    .content_details {
        padding: 0;
        height: auto;
    }

    #sidebar {
        li.dataset_preview {
            display: none;
        }
    }

    $fieldset-margin: 15px;
    fieldset {
        border: 1px solid $border-color;
        padding: $fieldset-margin $dialog-padding $dialog-padding;
        margin-right: $fieldset-margin;
        margin-bottom: $fieldset-margin;
        position: relative;

        legend {
            @include heading-sidebar;
        }

        label {
            display: inline-block;
        }

        .labels {
            margin-bottom: 4px;
            vertical-align: middle;
            line-height: 12px;
            position: relative;
            margin-right: 1px;
        }

        .field {
            padding-top: 15px;
            &:first-child {
                padding-top: 0;
            }
        }

        .button_wrapper {
            text-align: center;

            button {
                margin-bottom: -43px;

                div[aria-role=progressbar] {
                    margin-bottom: 5px;
                    padding-left: 13px;
                    display: inline-block;
                }

                &.cancel {
                    margin-left: 5px;
                }
            }
        }
    }
}

.aliased_name, 
.ui-selectmenu-menu li .aliased_name, 
.ui-selectmenu-status .aliased_name {
    background-color: $dataset-number-background-color;
    display: inline-block;
    @include border-radius(5px);
    margin-right: 5px;
    padding: 0 6px 1px 6px;

    .letter {
        display: inline;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 19px;
        font-weight: normal;
        font-style: normal;
    }
}

.stale_dataset_marker {
    position: absolute;
    left: 32px;
    color: #C64D2D;
    font-size: 13px;
    .fa-times {
        top: -5px;
    }
    &:hover {
        @include transform(scale(1.1,1.1));
        color: #DD3311;
    }
}