$remove-circle-color: $charcoal;

.filter_wizard {

    .filter_content {
        padding: 0 10px;
        background-color: $body-background-color;
    }
    
    .add_filter {
        float: right;
    }

    .brackets {
        height: 100%;
        width: 8px;
        display: inline-block;
        vertical-align: top;

        .brackets_top {
            height:50%;
            border-left: $border-canon;
            border-bottom: $border-canon;
        }

        .brackets_bottom {
            height:50%;
            border-left: $border-canon;
        }
    }

    li.last {
        .brackets_bottom {
            border-left: 0;
        }
    }
}

.dataset_filter, .kaggle_filter {
    height: 40px;
    border-bottom: 0;

    .remove {
/*         display: inline-block; */
/*         margin-top: 4px; */
/*         vertical-align: top; */
	    color: $remove-circle-color;
    }

    select, .ui-selectmenu-button .ui-button {
        width: 215px;
        margin-right: 10px;
    }

    .ui-selectmenu-menu ul {
      padding: 2px 8px 2px 2px;
    }

    input[type=text] {
        width: 25%;
        max-width: 250px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        margin-top: 4px;
    }

    .filter.date input {
        width: 80px;
    }

}
